.edit-note{
    margin-top: 53px;
}
.rezervare-slot-calen {
    color: #000000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
  }
  .hour {
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  .notes {
  
    color: #000000;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }