<div class="add-service-selection">
  <div class="w-100 mb-8">
    <ion-label
      class="s12pt8-h16 roboto-family-font text-weight-medium mb-8 black-color">
      Servicii
    </ion-label>
  </div>
  <div class="servicii-items flex flex-row ion-justify-content-center ion-align-items-start mb-24">
    <div class="mr-24">
      <p class="m-0 s16-h20 text-weight-medium roboto-family-font ls-0 black-color">
        1x Endoscopie digestivă superioară - interpretare și stabilire tratament (urgență)
      </p>
      <div class="ml-8">
        <p class="m-0 s14pt8-h16 roboto-family-font text-weight-regular ls-03 black-color mt-8 mb-4">
          350 lei
        </p>
        <p class="m-0 s14pt8-h16 roboto-family-font text-weight-regular ls-03 defaultGrayColor">
          Printr-o companie de asigurări
        </p>
      </div>
    </div>
    <div class="flex flex-row">
      <ion-icon
        name="edit"
        class="icon-24 defaultGrayColor mr-24"
      ></ion-icon>
      <ion-icon
        name="delete"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>
  </div>
  <ion-chip
    class="chip-radio"
    color="biz-chip-secondary-b-no-outline"
    >
      <ion-label>
        Adaugă servicii
      </ion-label>
      <ion-icon name="plus"></ion-icon>
  </ion-chip>
</div>
