
<ion-content [scrollEvents]="true" [fullscreen]="true">
  <ion-header class="header-type-a ion-no-border" [translucent]="true" mode="md">
    <ion-toolbar class="ion-no-padding">

      <ion-buttons slot="start" class="slot-start">

        <ion-icon
          name="close"
          class="icon-24 black-color"
          slot="icon-only"
        ></ion-icon>

      </ion-buttons>

      <ion-title>Subheader</ion-title>

      <div slot="end">
        <ion-button size="default" color="biz-primary">
          Salvează
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="adaugaProgramareFormGroup">

    <div class="w-100 mt-30 mb-32 px-32">
        <app-input
        [config]="pacientInputConfig"
        formControlName="pacient"
      ></app-input>
    </div>

  </form>
</ion-content>
