
<ion-content [scrollEvents]="true" [fullscreen]="true">
  <div class="web-grey-light-b-bg-color w-100" [ngClass]="{ 'flex ion-justify-content-center': isWed }">
    <div class="w-100 w-lg-634px web-white-page position-relative">
      <ion-header class="header-type-a ion-no-border" [translucent]="true" mode="md">
        <ion-toolbar class="ion-no-padding">

          <ion-buttons slot="start" class="slot-start" routerLink="/calendar">

            <ion-icon
              name="close"
              class="icon-24 black-color"
              slot="icon-only"
            ></ion-icon>

          </ion-buttons>

          <ion-title>Programare</ion-title>

          <div slot="end">
            <ion-button size="default" color="biz-primary" (click)="save()">
              SALVEAZĂ
            </ion-button>
          </div>
        </ion-toolbar>
      </ion-header>

      <form [formGroup]="adaugaProgramareFormGroup" class="mb-74">

        <div class="w-100 bottom-1px-solid-grey-default-color">
          <div class="w-100 pt-30 px-32">

            <ng-container>
              <div class="biz-custom-select-div" (click)="presentPacient()">
                <ion-label>{{pacientInputConfig.inputLabel.text}}</ion-label>
                <div [class]="'biz-custom-select border-light-grey'">
                  <div class="input-select-display">

                    <input type="text" formControlName="pacient" readonly>

                  </div>
                  <div class="icon">
                    <ion-icon name="search-custom" [class]="'icon-24 neutral-grey-medium-color'"></ion-icon>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>

          <div class="w-100 p-32 flex flex-row ion-justify-content-between">

            <ion-chip
              class="chip"
              outline="true"
              color="biz-chip-secondary"
              (click)="presentBizRadioModal()"
            >
              <ion-label>
                ADAUGĂ
              </ion-label>
              <ion-icon name="user-new"></ion-icon>
          </ion-chip>

          <ion-chip
              class="chip-radio"
              color="biz-radio-chip-default-b-no-outline"
              (click)="presentInfoPacientModalModal()"
            >
              <ion-label>
                INFO
              </ion-label>
              <ion-icon name="info"></ion-icon>
          </ion-chip>

          </div>

        </div>

        <div class="w-100 p-32 flex flex-1 flex-row ion-justify-content-between">

          <div class="mw-140 flex-1 mr-16">
            <app-input
              [config]="dataInputConfig"
              formControlName="data"
            ></app-input>
          </div>

          <div class="mw-140 flex-1 ml-16">
            <app-input
              [config]="timeInputConfig"
              formControlName="oraDeIncepere"
            ></app-input>
          </div>

        </div>

        <div class="w-100 px-32 pb-32">
            <app-radios
              [config]="tipprogramareConfig"
              [options]="tipprogramareOption"
              formControlName="tipprogramare"
              class="w-100"
            >
          </app-radios>
        </div>

        <div class="w-100 px-32 pb-32 bottom-1px-solid-grey-default-color">
          <app-select
          [placeholder]="locatiePlaceHolder"
          [config]="locatie"
          formControlName="locatie"
          [options]="locatieOption"
          class="w-100"
          >
        </app-select>

        </div>

        <div class="w-100 bottom-1px-solid-grey-default-color">

          <div class="w-100 p-32">

            <app-radios
                [config]="tipServiciiConfig"
                [options]="tipServiciiOption"
                formControlName="tipServicii"
                class="w-100"
              >
            </app-radios>

          </div>

          <div class="w-100 px-32">

            <app-add-service-selection></app-add-service-selection>

          </div>

          <div class="w-100 pt-32 px-32" *ngIf="!isAparaturaOnLineStatus">

            <app-biz-custom-selection
            [config]="aparaturaConfig"
            [data]="checkList"
            (modalOpenEvent)="presentModalB()"
          ></app-biz-custom-selection>

          </div>

          <div class="w-100 p-32">

            <app-radios
                [config]="timeRadioConfig"
                [options]="timeRadioOption"
                formControlName="time"
                class="w-100"
              >
            </app-radios>

          </div>

          <div class="w-100 px-32 pb-32">

            <ng-container>
              <div class="biz-custom-select-div" (click)="presentCabinetModalRadio()">
                <ion-label>Cabinet</ion-label>
                <div [class]="'biz-custom-select border-light-grey'">
                  <div class="input-select-display">
                    <!-- formControlName="cabinet" -->

                    <input type="text" [value]="getChoosenCabinet" readonly>

                  </div>
                  <div class="icon">
                    <ion-icon
                        name="cabinet"
                        [class]="'icon-24 biz-neutral-gray-default-color'"
                      ></ion-icon>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>

          <div class="w-100 px-32 pb-32">
            <div class="mb-16" *ngIf="!dataAndOraDeIncepereNotFilledStatus && recurentaDetails">
              <ion-text class="s16-h19 roboto-family-font text-weight-regular ls-0 priamry-color-text">
               <!--  Se repetă o dată la 2 zile, de 12 ori -->
               Se repetă o dată la {{recurentaDetails.seRepetaLaFiecareNumber}}
               {{recurentaDetails.seRepetaLaFiecareTimeChoose}}, de {{recurentaDetails.dupa}} ori
              </ion-text>
            </div>
            <div>
              <ion-chip
                class="chip"
                outline="true"
                color="biz-chip-secondary"
                [disabled]="dataAndOraDeIncepereNotFilledStatus"
                (click)="presentModalRecurentaComponentModal()"
              >
                <ion-label>
                  CREEAZĂ RECURENȚĂ
                </ion-label>
                <ion-icon name="recurenta"></ion-icon>
            </ion-chip>
            </div>
          </div>

        </div>

        <div class="w-100 p-32 bottom-1px-solid-grey-default-color">
          <ion-item class="item-checkbox">
              <ion-label class="s18-h24 roboto-family-font text-weight-400 ls-02">Generează link de plată</ion-label>
              <ion-checkbox
              slot="start"
              color="biz-primary"
              class="margin-inline-end-12"
              mode="md"
              [checked]="isAparaturaOnLineStatus"
              [disabled]="isAparaturaOnLineStatus"
              ></ion-checkbox>
            </ion-item>
        </div>

        <div class="w-100">

            <div class="w-100 p-32">

              <ng-container>
                <div class="biz-custom-select-div" (click)="presentMedicModal()">
                  <ion-label>Medic trimițător</ion-label>
                  <div [class]="'biz-custom-select border-light-grey'">
                    <div class="input-select-display">

                      <input type="text" formControlName="medic" readonly>

                    </div>
                    <div class="icon">
                      <ion-icon
                          name="doctor"
                          [class]="'icon-24 neutral-grey-medium-color'"
                        ></ion-icon>
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>

            <div class="px-32 pb-32">
              <app-textarea [config]="observatiiConfig" formControlName="observatii"></app-textarea>
            </div>

        </div>


      </form>

      <!-- notify  -->
      <div class="primary-error-bg-color custom-center-bottom z-index-9999 px-16 py-13 w-415px"  *ngIf="dataAndOraDeIncepereNotFilledStatus">
        <p class="black-color m-0 s18-h24 text-weight-regular roboto-family-font ls-02">
          Completează data și ora de începere de mai sus!
        </p>
      </div>
      <!--  -->
    </div>
  </div>
</ion-content>
