
<ion-content [scrollEvents]="true" [fullscreen]="true">
  <div class="web-grey-light-b-bg-color w-100" [ngClass]="{ 'flex ion-justify-content-center': isWed }">
    <div class="w-100 w-lg-634px web-white-page position-relative">
      <ion-header class="header-type-a ion-no-border" [translucent]="true" mode="md">
        <ion-toolbar class="ion-no-padding">

          <ion-buttons slot="start" class="slot-start">

            <ion-icon
              name="arrow-left"
              class="icon-24 black-color"
              slot="icon-only"
            ></ion-icon>

          </ion-buttons>

          <ion-title>Programare</ion-title>

          <div slot="end" class="flex flex-row ion-align-items-center">
             <ion-button class="biz-tertiary p-0" size="default-flat">
              <ion-icon
              name="edit"
              class="icon-24 black-color"
              slot="icon-only"
            ></ion-icon>
            </ion-button>
            <div class="p-0 ml-24">
              <ion-button class="biz-tertiary p-0" size="default-flat">
                <ion-icon
                name="options-custom"
                class="icon-24 black-color"
                slot="icon-only"
              ></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-toolbar>
      </ion-header>

      <div class="px-24">

        <div class="mt-52">

          <div class="flex flex-row ion-align-items-center mb-8">
            <div class="mr-16">
              <ion-icon
                name="confirmation-by-phone"
                class="icon-24 status-green-color-step-100"
                slot="icon-only"
              ></ion-icon>
            </div>
            <ion-label class="s20-h28 text-weight-medium roboto-family-font ls-0">Angela Ghica Protopopescu</ion-label>
          </div>

          <div class="flex flex-row ion-align-items-center">
            <div class="mr-16">
              <ion-icon
                name="partially-paid"
                class="icon-24 primary-error-color"
                slot="icon-only"
              ></ion-icon>
            </div>
            <ion-label class="s20-h28 text-weight-medium roboto-family-font ls-0">Maria Iovan Plăieșu</ion-label>
          </div>

        </div>


        <div class="my-32">

          <div class="flex flex-row ion-align-items-center mb-8">
            <div class="mr-16">
              <ion-icon
                name="warning-custom"
                class="icon-24 defaultGrayColor"
                slot="icon-only"
              ></ion-icon>
            </div>

            <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
              <span>
                47
              </span>
             <span class="defaultGrayColor">
                /
              </span>
              <span >
                F
              </span>
              <span class="defaultGrayColor">
                /
              </span>
              <span class="primary-color-step-110">
                Info pacient
              </span>
            </ion-label>
          </div>

          <div class="flex flex-row ion-align-items-center">
            <div class="mr-16">
              <ion-icon
                name="nou"
                class="icon-24 defaultGrayColor"
                slot="icon-only"
              ></ion-icon>
            </div>
           <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
              <span>
                34
              </span>
              <span class="defaultGrayColor">
                /
              </span>
              <span>
                M
              </span>
              <span class="defaultGrayColor">
                /
              </span>
              <span class="primary-color-step-110">
                Info pacient
              </span>
            </ion-label>
          </div>

        </div>

        <div class="mb-32">

          <div class="flex flex-row ion-align-items-start mb-8">
            <div class="mr-16">
              <ion-icon
                name="clock"
                class="icon-24 defaultGrayColor"
                slot="icon-only"
              ></ion-icon>
            </div>
            <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
              Miercuri, 8 martie 2020 <br>
                10:00 - 10:30, 30 minute
              </ion-label>
          </div>

        </div>

        <div class="">

          <div class="flex flex-row ion-align-items-center mb-8">
            <div class="mr-16">
              <ion-icon
                name="recurenta"
                class="icon-24 defaultGrayColor"
                slot="icon-only"
              ></ion-icon>
            </div>
            <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
              Săptămânal, marți și vineri, până la data de 12 aprilie (1/12 programări)
            </ion-label>
          </div>

        </div>


        <div class="my-32">

          <div>
            <div class="flex flex-row ion-align-items-center mb-8">
              <div class="mr-16">
                <ion-icon
                  name="location-custom"
                  class="icon-24 defaultGrayColor"
                  slot="icon-only"
                ></ion-icon>
              </div>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
                București Preciziei, Cabinet 1
              </ion-label>
            </div>

            <div class="flex flex-row ion-align-items-center mb-16">
              <div class="mr-16">
                <ion-icon
                  name="location-custom"
                  class="icon-24 defaultGrayColor"
                  slot="icon-only"
                ></ion-icon>
              </div>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
                On-line
              </ion-label>
            </div>

            <div class="pl-40">
              <ion-chip
                  class="chip"
                  outline="true"
                  color="biz-chip-secondary"
                >
                  <ion-label>
                    Start teleconferință
                  </ion-label>
                  <ion-icon name="computer" class="icon-24"></ion-icon>
              </ion-chip>
            </div>

            <div class="pl-40 mt-16 mb-20">
              <ion-chip
                  class="chip-radio"
                  color="biz-chip-secondary-b-no-outline"
                  >
                    <ion-label>
                    TRIMITE LINK TELECONFERINTA
                    </ion-label>
                    <ion-icon name="share-custom" class="icon-24"></ion-icon>
                </ion-chip>
            </div>
          </div>



          <div>
            <div class="flex flex-row ion-align-items-center mb-16">
              <div class="mr-16">
                <ion-icon
                  name="location-custom"
                  class="icon-24 defaultGrayColor"
                  slot="icon-only"
                ></ion-icon>
              </div>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
                On-line, Buc. Aviatori
              </ion-label>
            </div>

            <div class="pl-40">
              <ion-chip
                  class="chip"
                  outline="true"
                  color="biz-chip-secondary"
                >
                  <ion-label>
                    Start teleconferință
                  </ion-label>
                  <ion-icon name="computer" class="icon-24"></ion-icon>
              </ion-chip>
            </div>

            <div class="pl-40 mt-16 mb-12">
              <ion-chip
                  class="chip-radio"
                  color="biz-chip-secondary-b-no-outline"
                  >
                    <ion-label>
                      TRIMITE LINK TELECONFERINTA
                    </ion-label>
                    <ion-icon name="share-custom" class="icon-24"></ion-icon>
                </ion-chip>
            </div>
          </div>


        </div>

        <div>
          <div class="flex flex-row ion-align-items-start mb-8">
            <div class="mr-16">
              <ion-icon
                name="privat"
                class="icon-24 defaultGrayColor"
                slot="icon-only"
              ></ion-icon>
            </div>
            <div>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
                Tip servicii
              </ion-label>
              <br>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
                Cu plată
              </ion-label>
            </div>
          </div>


          <div class="flex flex-row ion-align-items-start">
            <div class="mr-16">
              <ion-icon
                name="cnas"
                class="icon-24 defaultGrayColor"
                slot="icon-only"
              ></ion-icon>
            </div>
            <div>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
                Tip servicii
              </ion-label>
              <br>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
                C.N.A.S.
              </ion-label>
            </div>
          </div>

        </div>


        <div class="my-32">
          <div class="flex flex-row ion-align-items-start">
            <div class="mr-16">
              <ion-icon
                name="services"
                class="icon-24 defaultGrayColor"
                slot="icon-only"
              ></ion-icon>
            </div>
            <div>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
                Servicii
              </ion-label>
              <br>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
                Consult control gastroenterologie, Ecografie abdominală, Spirometrie
              </ion-label>
            </div>
          </div>
        </div>


        <div class="mb-32">
          <div class="flex flex-row ion-align-items-start">
            <div class="mr-16">
              <ion-icon
                name="equipment"
                class="icon-24 defaultGrayColor"
                slot="icon-only"
              ></ion-icon>
            </div>
            <div>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
                Aparatură asociată
              </ion-label>
              <br>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
                Ecograf XYZ, Spirometru
              </ion-label>
            </div>
          </div>
        </div>



        <div class="mb-32">
          <div class="flex flex-row ion-align-items-start">
            <div class="mr-16">
              <ion-icon
                name="doctor"
                class="icon-24 defaultGrayColor"
                slot="icon-only"
              ></ion-icon>
            </div>
            <div>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
               Medic trimițător
              </ion-label>
              <br>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
                Costantin Stefanoiu
              </ion-label>
            </div>
          </div>
        </div>



        <div>

          <div class="flex flex-row ion-align-items-start mb-8">
            <div class="mr-16">
              <ion-icon
                name="paid"
                class="icon-24 defaultGrayColor"
                slot="icon-only"
              ></ion-icon>
            </div>
            <div>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
               Plată
              </ion-label>
              <br>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
               Achitat
              </ion-label>
            </div>
          </div>



          <div class="flex flex-row ion-align-items-start mb-8">
            <div class="mr-16">
              <ion-icon
                name="partially-paid"
                class="icon-24 primary-error-color"
                slot="icon-only"
              ></ion-icon>
            </div>
            <div>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
               Plată
              </ion-label>
              <br>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
               Plata nu a fost făcută
              </ion-label>
            </div>
          </div>

          <div class="pl-40 mt-28 mb-12">
            <ion-chip
                class="chip-radio"
                color="biz-chip-secondary-b-no-outline"
                >
                  <ion-label>
                    TRIMITE LINK DE PLATĂ
                  </ion-label>
                  <ion-icon name="share-custom" class="icon-24"></ion-icon>
              </ion-chip>
          </div>


        </div>



        <div class="my-32">

          <div class="flex flex-row ion-align-items-start">
            <div class="mr-16">
              <ion-icon
                name="clipboard-biz"
                class="icon-24 defaultGrayColor"
                slot="icon-only"
              ></ion-icon>
            </div>
            <div>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
                Observații recepție
              </ion-label>
              <br>
              <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
               Donec nisi nisi, ultricies luctus massa non, commodo ultricies lectus. Etiam
               tortor ante, pulvinar ac est eget, ultricies aliquam velit. Ut odio tortor, aliquet
               sit amet iaculis et, hendrerit non est. Phasellus laoreet quam id placerat.
              </ion-label>
            </div>
          </div>

        </div>


        <div class="pl-40 mt-28 mb-64">
          <div>
            <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
               Status programare
              </ion-label>
          </div>
          <div>

            <ion-chip
              class="chip-radio mr-8"
              color="biz-radio-chip-default"
              [outline]="true"
            >
              <ion-label
                class="text-weight-medium"
                >Generează consultație</ion-label
              >
            </ion-chip>

            <ion-chip
              class="chip-radio"
              color="biz-radio-chip-default"
              [outline]="true"
            >
              <ion-label
                class="text-weight-medium"
                >Anulează</ion-label
              >
            </ion-chip>

          </div>
        </div>




      </div>

    </div>
  </div>
</ion-content>
