
<ion-grid  class="calendar-m px-0 vh-100" *ngIf="display === 'lista'" >
  <app-calendar-list [eventList]="calendarList" ></app-calendar-list>
</ion-grid>
<ion-grid class="calendar-m px-0" *ngIf="display === 'comparativ'" >
  <app-comparativ></app-comparativ>
</ion-grid>
<ion-grid *ngIf="display !== 'lista' && display !== 'comparativ'" class="calendar-m px-0 mb-64">
  <ion-row class="mb-64 ">
    <ion-col class="w-100 mb-64" [ngSwitch]="view" size="12">
     <mwl-calendar-month-view
     *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="false"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      (beforeViewRender)="beforeMonthViewRender($event)"
      [cellTemplate]="customCellTemplate"
    ></mwl-calendar-month-view>
      <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [headerTemplate]="customHeaderTemplate"
      [viewDate]="viewDate"
      [events]="events"
      [dayStartHour]="startEndTime.appStartHour"
      [dayEndHour]="startEndTime.appEndHour -1"
      [eventTemplate]="eventTemplate"
      (beforeViewRender)="beforeWeekViewRender($event)"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [excludeDays]="excludeDays"
    ></mwl-calendar-week-view>
      <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [hourSegments]="6"
      [viewDate]="viewDate"
      [events]="events"
      [eventTemplate]="customDayTemplate"
      [hourSegmentTemplate]="hourSegmentTemplate"
      [refresh]="refresh"
      [dayStartHour]="startEndTime.appStartHour"
      [dayEndHour]="startEndTime.appEndHour -1"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >

    </mwl-calendar-day-view>

    </ion-col>
  </ion-row>

  <ng-template #hourSegmentTemplate let-hour="hour" let-locale="locale" let-segment="segment">
    <ion-row class=" b-bottom pl-0 h-100">
      <ion-col [size]=" isTablet ? 1: 2">
        <ion-label class="h-100 w-40 cal-time">

          {{segment.date | calendarDate:'dayViewHour'}}</ion-label>

      </ion-col >
      <ion-col [ngClass]="setBg(segment.date)" class="b-left" [size]=" isTablet ? 11: 10">

      </ion-col>
    </ion-row>
  </ng-template>
  <ng-template #customDayTemplate let-dayEvents="dayEvents"
  let-weekEvent="weekEvent"
  let-tooltipPlacement="tooltipPlacement"
  let-eventClicked="eventClicked"
  let-events="events"
  let-tooltipTemplate="tooltipTemplate"
  let-tooltipAppendToBody="tooltipAppendToBody">
  <ion-row
  class="cal-event lh-none"  [ngClass]="weekEvent.event.meta?.cssClass ? weekEvent.event.meta?.cssClass : 'cal-event'" (mwlClick)="eventClicked.emit({   event: weekEvent.event })"
 >
 <ion-col [ngClass]="weekEvent.event.meta?.cssClass" size="12">
  <ion-icon [name]="weekEvent.event.meta?.icon"></ion-icon>
  <ion-text class="weekEvent-title pl-3 text-dark">
    {{weekEvent.event.title}}
  </ion-text>
 </ion-col>

</ion-row>


  </ng-template>

  <ng-template #eventTemplate let-weekEvent="weekEvent" let-locale="locale" let-eventClicked="eventClicked" let-tooltipPlacement="tooltipPlacement" let-tooltipTemplate="tooltipTemplate" let-tooltipAppendToBody="tooltipAppendToBody" let-tooltipDisabled="tooltipDisabled">
    <ion-row class="cal-event lh-none"  [ngClass]="weekEvent.event.meta?.cssClass" (mwlClick)="eventClicked.emit({ event: weekEvent.event })" >
     <ion-col  [ngClass]="weekEvent.event.meta?.cssClass" size="12">
      <ion-icon [ngClass]="weekEvent.event.meta?.cssClass"  [name]="weekEvent.event.meta?.icon"></ion-icon>
      <ion-text class="weekEvent-title">
        {{weekEvent.event.title}}
      </ion-text>
     </ion-col>

    </ion-row>

  </ng-template>


  <!-- Month Cell Template -->
  <ng-template class="pt-0" #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top flex flex-column sp-b ion-justify-content-between pt-0" [ngClass]="day.events[0]?.title === 'Vacation' ? 'vacation-bg' : ''">
      <!-- <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
        >{{ day.badgeTotal }}</span
      > -->
      <span  class="cal-day-number"
        >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
      >
      <small *ngIf="day.events[0]?.title === 'Vacation'">
        concediu
      </small>
    </div>
    <small  *ngIf="day.events.length > 0 && day.events[0]?.title !== 'Vacation'" style="margin: 5px;"
      >{{ day.events.length }} programări</small
    >
  </ng-template>

  <!-- header Template -->
  <ng-template #customHeaderTemplate
  let-days="days"
  let-locale="locale"
  let-dayHeaderClicked="dayHeaderClicked"
  let-eventDropped="eventDropped"
  let-trackByWeekDayHeaderDate="trackByWeekDayHeaderDate"
  let-dragEnter="dragEnter"
  >
  <div class="cal-day-headers" role="row">
    <div
      class="cal-header"
      *ngFor="let day of days; trackBy: trackByWeekDayHeaderDate"
      [class.cal-past]="day.isPast"
      [class.cal-today]="day.isToday"
      [class.cal-future]="day.isFuture"
      [class.cal-weekend]="day.isWeekend"
      [ngClass]="day.cssClass"
      dragOverClass="cal-drag-over"

      tabindex="0"
      role="columnheader"
    >
      <span [ngClass]="day.isToday ? '' : 'caps'">{{ day.date | calendarDate: 'weekViewColumnHeader':locale | uppercase  }}</span
      ><br />
      <span [ngClass]="day.isToday ? 'bold' : ''" class="day-nr">{{
        day.date  | date : 'd'
      }}</span>
    </div>
  </div>
  </ng-template>


</ion-grid>
