.card {
    height: auto;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 1px 4px 0.5px rgba(0,0,0,0.1), 0 5px 14px -9px rgba(20,24,26,0.3), 0 0.5px 0.5px 0 rgba(0,0,0,0.3);
  }
  .px-85{
    padding-left: 85px;
    padding-right: 85px;
  }
  .legend{
    background-color: #F2F8FA;
    position: relative;
  }
  .legend-right::before, .legend-left::before{
    content: '';
    display: inline-block;
    
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:  #D5EED1;
    margin-right: 8px;
  }
  .legend-right::before{
    background-color: #9B57E0;
    margin-left: 16px;
  }
  .total{
    bottom: 50px;
    right: 40%;
  }
  .total-mobile{
    bottom: 34px;
    right: 34%;
  }
  .second-label{
    bottom: 30px;
  }
  .second-label-mobile{
    bottom: 17px;
  }