.card {
    height: 120px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0.5px rgba(0,0,0,0.1), 0 5px 14px -9px rgba(20,24,26,0.3), 0 0.5px 0.5px 0 rgba(0,0,0,0.3);
  }