
<ion-content [scrollEvents]="true" [fullscreen]="true">
  <!-- <div class="web-grey-light-b-bg-color w-100" [ngClass]="{ 'flex ion-justify-content-center': isWed }">
    <div class="w-100 w-lg-634px web-white-page position-relative vh-100"> -->
      <ion-header class="header-type-a ion-no-border" [translucent]="true" mode="md">
        <ion-toolbar class="ion-no-padding">

          <ion-buttons slot="start" class="slot-start cursor-pointer">

            <ion-icon
            (click)="backAction()"
              name="arrow-left"
              class="icon-24 black-color"
              slot="icon-only"
            ></ion-icon>

          </ion-buttons>

          <ion-title>Data Statistice</ion-title>

         
        </ion-toolbar>
      </ion-header>

      <form [formGroup]="adaugaProgramareFormGroup" class="mb-74">


        <div class="w-100 ">


          <div class="w-100 pt-32 px-16">

            <app-biz-custom-selection
            [config]="aparaturaConfig"
            [data]="checkList"
            (modalOpenEvent)="presentModalB()"
          ></app-biz-custom-selection>

          </div>


        </div>



      </form>

  <!--   </div>

  </div> -->

</ion-content>

