<ion-content [scrollEvents]="true" [fullscreen]="true">
  <div class="modal-div-body">
    <div class="modal-div-header white-bg">
      <ion-header class="header-type-a ion-no-border" [translucent]="true" mode="md">
        <ion-toolbar class="ion-no-padding">

          <ion-buttons slot="start" class="slot-start cursor-pointer" (click)="dismiss()">

            <ion-icon name="arrow-left" class="icon-24 black-color" slot="icon-only"></ion-icon>

          </ion-buttons>

          <ion-title>Conflict programări</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
  </div>
  <div class="modal-div-body modal-view mt-40">

    <div class="flex flex-row ion-align-items-start mt-30">
      <div class="mr-24">
        <ion-icon name="check" class="icon-24 status-green-color-step-100" slot="icon-only"></ion-icon>
      </div>
      <div>
       <div>
          <ion-label
          class="
              s20-h24
              roboto-family-font
              text-weight-regular
              ls-0
            ">
          Luni, 8 martie
          </ion-label>
       </div>
        <div>
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
        09:00 - 09:30
          </ion-label>
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
            •
          </ion-label>
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
            liber
          </ion-label>
        </div>
      </div>
    </div>

    <div class="flex flex-row ion-align-items-start my-16">
      <div class="mr-24">
        <ion-icon name="warning-custom" class="icon-24 primary-error-color" slot="icon-only"></ion-icon>
      </div>
      <div>
       <div>
          <ion-label
          class="
              s20-h24
              roboto-family-font
              text-weight-regular
              ls-0
              defaultGrayColor
            ">
          Luni, 22 martie
          </ion-label>
       </div>
        <div>
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 primary-error-color">
        09:20 - 10:00
          </ion-label>
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 primary-error-color">
            •
          </ion-label>
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 primary-error-color">
            09:20 - 10:00
          </ion-label>
        </div>
        <div class="my-8">
          <ion-label class="s14-h16 roboto-family-font text-weight-regular ls-0 primary-color-step-100">
            VEZI PROGRAMUL DISPONIBIL
          </ion-label>
        </div>
      </div>
    </div>



    <div class="flex flex-row ion-align-items-start">
      <div class="mr-24">
        <ion-icon name="check" class="icon-24 status-green-color-step-100" slot="icon-only"></ion-icon>
      </div>
      <div>
        <div>
          <ion-label class="
                  s20-h24
                  roboto-family-font
                  text-weight-regular
                  ls-0
                ">
            Luni, 8 martie
          </ion-label>
        </div>
        <div>
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
            09:00 - 09:30
          </ion-label>
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
            •
          </ion-label>
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
            liber
          </ion-label>
        </div>
      </div>


      </div>



















  </div>




</ion-content>
