<ion-content>
  <div class="visibility-hidden">
    <ion-item lines = "none">
      <!-- (ionFocus)="onClosePicker($event)" -->
      <ng-container *ngIf="datePickerType === 'dayMonth'; else dateType">

        <ion-datetime #dateTime displayFormat="DDDD MMM D, YYYY" min="2020" max="2050" [(ngModel)]="date" doneText="SELECTEAZA" cancelText="RENUNTA"
        (ionChange)="changed($event)"
        (ionCancel)="pickerCancled($event)"
        ></ion-datetime>

      </ng-container>

      <ng-template #dateType>

        <ion-datetime #dateTime
        displayFormat="hh:mm-A"
        doneText="SELECTEAZA"
        cancelText="RENUNTA"  [(ngModel)]="date"
          (ionChange)="changed($event)"
          (ionCancel)="pickerCancled($event)"> </ion-datetime>

      </ng-template>

    </ion-item>
  </div>
</ion-content>
