<div class="biz-custom-select-div" (click)="openModal()">
  <ion-label>Input chips</ion-label>
  <div class="biz-custom-select">
  <div class="select-display">

    <ng-container *ngIf="data">
      <ion-chip *ngFor="let item of data; first as isFirst; last as isLast"
        class="input-chip selected"
        [color]="'biz-radio-chip-active'"
        [outline]="true"
        (click)="stopModalPropagation($event)"

      >
        <ion-label>{{item}}</ion-label>

        <ion-icon
            name="close"
            class="icon-16"
            color="biz-primary"
            (click)="removeChips($event,item)"
          ></ion-icon>

      </ion-chip>
    </ng-container>

  </div>
  <div class="icon">
    <ion-icon
        name="caret-down"
        class="icon-24"
        color="biz-primary"
      ></ion-icon>
  </div>
</div>
</div>
