<ion-header *ngIf="!isTablet" class="ion-no-border" [translucent]="true">
  <ion-toolbar class="pl-45 bg-blue">
    <ion-title>{{ page }}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="cal-header flex">
    <ion-row>
      <ion-col size="8"  class="flex flex-column">
        <div (click)="openCalModal()" >
          <ion-text class="header-date">
            {{ month | titlecase}}
          </ion-text>
          <ion-icon class="mt-5"  name="caret-down"></ion-icon>
        </div>
        <ion-text class="header-events">
          123 programări
        </ion-text>
      </ion-col>

      <ion-col size="4"  class="flex">
        <ion-buttons class="pb-5"  >         
          <ion-icon size="large" (click)="navigate('/calendar/zi')"  name="today-v-2" class="icon mr-32"></ion-icon>
          <ion-menu-button class="mr-24"></ion-menu-button>
        </ion-buttons>
        
      </ion-col >
    </ion-row>
  </ion-toolbar>
  <ion-toolbar  *ngIf="isComparativ === true">
    <div class="umbra mt-9"></div>
    <ion-row class="px-16">
      <ion-col  class="day-info" size="12">
       
        <ion-row [formGroup]="locationForm" >
          
          <ion-col size="6">
             <app-select
             [config]="config"
             formControlName="location"
             [options]="locationOptions"
             class="w-100"
             ></app-select>
             
            </ion-col>
          <ion-col size="6">
             <app-select
             [config]="configB"
             formControlName="program"
             [options]="programOptions"
             class="w-100"
             ></app-select>
             
            </ion-col>
          </ion-row>
      
      </ion-col>
      <!-- <ion-col class="mt-28"   size="12">
        <div class="flex ion-justify-content-between">
          <div class="flex flex-column day-info"><ion-text>LUN</ion-text><b>8</b></div>
          <div *ngFor="let list of programList" class="flex flex-column defaultGrayColor"><ion-text class="s12pt8-h16">{{list.title}}</ion-text><b>{{list.label}}</b></div>
        </div>
       
      </ion-col> -->

    </ion-row>
  </ion-toolbar>
  <ion-toolbar class="pl-48 flex" *ngIf="page === 'zi'">
    <ion-row>
      <ion-col  class="day-info" size="12">
        <ion-text>
          LUN
        </ion-text> 
        <b>8</b>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="isTablet" class="ion-no-border" [translucent]="true">
  <ion-toolbar class="pl-45 bg-blue">
    <ion-title>{{ page }}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="cal-header flex">
    <ion-row>
      <ion-col  size="2" class="flex flex-column">
        <div (click)="openCalModal()" >
          <ion-text class="header-date">
            {{ month | titlecase}}
          </ion-text>
          <ion-icon class="mt-5"  name="caret-down"></ion-icon>
        </div>
        <ion-text class="header-events">
          123 programări
        </ion-text>
      </ion-col>
      <ion-col *ngIf="!isModal" size="7" class="flex ion-justify-content-center">
        <ion-button [ngClass]="p.url === activatedPath ? 'active' : ''" class="nav-btn" (click)="navigate(p.url)" fill="clear" *ngFor="let p of calendarPages " >
          <ion-icon  size="large"  [name]="p.icon" class="icon"></ion-icon>
          <ion-text class="pl-16" *ngIf="p.url === activatedPath">
            {{p.title}}
          </ion-text>
        </ion-button>
        
      </ion-col >
      <ion-col size="3" class="flex ion-justify-content-end">
        <ion-buttons class="pb-5"  >
          <ion-icon  size="large"  name="search" class="icon mr-32"></ion-icon>
          <ion-icon size="large" (click)="navigate('/calendar/zi')"  name="today-v-2" class="icon mr-32"></ion-icon>
          <ion-button fill="clear" (click)="toggleMenu()">
            <ion-icon  size="large"  name="menu-Hamburger" class="icon"></ion-icon>

          </ion-button>
          <!-- <ion-menu-button></ion-menu-button> -->
        </ion-buttons>
        
      </ion-col >
    </ion-row>
  </ion-toolbar>
  <ion-toolbar  *ngIf="isComparativ === true">
    <div class="umbra mt-9"></div>
    <ion-row class="px-16">
      <ion-col  class="day-info" size="12">
       
        <ion-row [formGroup]="locationForm" >
          
          <ion-col size="4">
             <app-select
             [config]="config"
             formControlName="location"
             [options]="locationOptions"
             class="w-100"
             ></app-select>
             
            </ion-col>
          <ion-col size="4">
             <app-select
             [config]="configB"
             formControlName="program"
             [options]="programOptions"
             class="w-100"
             ></app-select>
             
            </ion-col>
          </ion-row>
      
      </ion-col>
      <!-- <ion-col class="mt-28"   size="12">
        <ion-row>
          <ion-slides [options]="opts" #slides>
            <ion-slide *ngFor="let list of programList; let i = index;">
              
              <div class="flex flex-column defaultGrayColor"><ion-text class="s12pt8-h16">{{list.title}}</ion-text><b>{{list.label}}</b></div>
  
            </ion-slide>
          </ion-slides>

        </ion-row>
        <div class="flex ion-justify-content-between">
          <div class="flex flex-column day-info"><ion-text>LUN</ion-text><b>8</b></div>
         
        </div>
       
      </ion-col> -->

    </ion-row>
  </ion-toolbar>
  <ion-toolbar class="pl-48 flex" *ngIf="page === 'zi'">
    <ion-row>
      <ion-col  class="day-info" size="12">
        <ion-text>
          LUN
        </ion-text> 
        <b>8</b>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>