<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid class="login-grid">
        <ion-card class="card">
          <div class="card-header"></div>
          <div class="card-contents pt-28">
            <div class="ion-text-center">
              <ion-text class=" biz-calendar text-weight-500 p-0 ls-0 primary-color-step-100 poppings-family-font">Biz Calendar</ion-text>
              <ion-text class="setrio text-weight-500 poppings-family-font">SETRIO</ion-text>
              
            </div>
            <form (ngSubmit)="login()" [formGroup]="credentials" class="form px-16">
              <div class="ion-text-center">
                <ion-text *ngIf="showError" class="s14-h16 text-weight-500 ls-0  primary-error-color roboto-family-font">{{errorMsg}}</ion-text>
              </div>
      
              <ion-item lines="none" class="pb-24">
                <!-- <ion-label position="floating" class="label">Utilizator</ion-label>
                <ion-input formControlName="utilizator"></ion-input> -->
                <app-input
                    [config]="inputConfig(
                      'Utilizator',
                      'text',
                      'Type here',
                      false,
                      (utilizator.touched || utilizator.dirty) && utilizator?.errors?.required
                      )"
                    formControlName="utilizator"
                  ></app-input>
              </ion-item>

              <ion-item  lines="none" class="pb-24">
                <app-input
                    [config]="inputConfig(
                      'Parolă',
                      'password',
                      'Type here',
                      false,
                      (password.touched || password.dirty) && password?.errors?.required
                      )"
                    formControlName="password"
                  ></app-input>
              </ion-item>

              <ion-button (click)="login()" class="mb-24 upper" size="large" expand="block" color="biz-primary">
                AUTENTIFICARE
              </ion-button>
            </form>
          </div>
        </ion-card>
  </ion-grid>
  <ion-row class="ion-text-center mb-48">
    <ion-col>
      <ion-text class="s14-h16 text-weight-500 ls-0 primary-color-step-100 roboto-family-font upper">Am uitat parola</ion-text>
    </ion-col>
  </ion-row>
</ion-content>
