<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid class="login-grid">
        <ion-card class="card">
          <div class="card-header"></div>
          <div class="card-contents pt-28">
            <div>
              <ion-text class="biz-calendar">Biz Calendar</ion-text>
              <ion-text class="setrio">SETRIO</ion-text>
            </div>
    
            <form (ngSubmit)="login()" [formGroup]="credentials" class="form px-16">
              <ion-item class="pb-24">
                <ion-label position="floating" class="label">Utilizator</ion-label>
                <ion-input formControlName="email"></ion-input>
              </ion-item>
              <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
                <span *ngIf="email.errors?.required">Email is required</span>
                <span *ngIf="email.errors?.email">Email is invalid</span>
              </div>
              <ion-item class="pb-24">
                <ion-label position="floating" class="label">Parolă</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
              </ion-item>
              <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                <span *ngIf="password.errors?.required">Password is required</span>
                <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
              </div>
              <ion-button (click)="login()" class="mb-24 upper" size="large" expand="block" color="biz-primary">
                AUTENTIFICARE
              </ion-button>
              
            
            </form>
          </div>
        </ion-card>
  </ion-grid>
  <ion-row class="ion-text-center mb-48">
    <ion-col>
      <ion-text class="forgot-p upper">Am uitat parola</ion-text>
    </ion-col>
  </ion-row>
</ion-content>
