<ion-content>
  <div class="w-100">
    <div class="ion-no-padding flex flex-column w-100">
      <div class="w-100 px-16 pt-20 pb-15 border-bottom-1px-solid-neutral-grey-light-b-color">
        <span class="p-0 s20-h28 text-weight-medium ls-0 roboto-family-font">{{pacientPersonName}}</span>
      </div>
      <div class="w-100 p-24">

        <div class="w-100 flex flex-column mb-24">
          <div class="flex flex-row ion-justify-content-between">
            <span class="p-0 s16-h24 roboto-family-font text-weight-regular ls-0">Programări:</span>
            <span class="p-0 s16-h24 roboto-family-font text-weight-medium ls-0">
              {{pacientPersonData?.totalAppointment}}
            </span>
          </div>
          <div class="flex flex-row ion-justify-content-between my-8">
            <span class="p-0 s16-h24 roboto-family-font text-weight-regular ls-0">Viitoare:</span>
            <span class="p-0 s16-h24 roboto-family-font text-weight-medium ls-0">
              {{pacientPersonData?.future}}
            </span>
          </div>
          <div class="flex flex-row ion-justify-content-between">
            <span class="p-0 s16-h24 roboto-family-font text-weight-regular ls-0">Anulate:</span>
            <span class="p-0 s16-h24 roboto-family-font text-weight-medium ls-0">
              {{pacientPersonData?.canceled}}
            </span>
          </div>
        </div>

        <div class="w-100 flex flex-column mb-24">
          <div class="flex flex-row ion-justify-content-between">
            <span class="p-0 s16-h24 roboto-family-font text-weight-regular ls-0">Ultima:</span>
            <span class="p-0 s16-h24 roboto-family-font text-weight-medium ls-0">
             {{lastAppointmentDate}}
            </span>
          </div>
          <div class="flex flex-row ion-justify-content-between my-8">
            <span class="p-0 s16-h24 roboto-family-font text-weight-regular ls-0">Medic:</span>
            <span class="p-0 s16-h24 roboto-family-font text-weight-medium ls-0">
              {{pacientPersonData?.lastAppointmentPhysician}}
            </span>
          </div>
          <div class="flex flex-row ion-justify-content-between">
            <span class="p-0 s16-h24 roboto-family-font text-weight-regular ls-0">Tip:</span>
            <span class="p-0 s16-h24 roboto-family-font text-weight-medium ls-0">
              {{pacientPersonData?.lastAppointmentType}}
            </span>
          </div>
        </div>

        <div class="w-100 flex flex-column">
          <div class="flex flex-row ion-justify-content-between mb-8">
            <span class="p-0 s16-h24 roboto-family-font text-weight-regular ls-0">Vîrstă:</span>
            <span class="p-0 s16-h24 roboto-family-font text-weight-medium ls-0" *ngIf="personAge">
              {{personAge}}
              {{personAge > 1 ? 'ani' : 'an'}}
            </span>
          </div>
          <div class="flex flex-row ion-justify-content-between">
            <span class="p-0 s16-h24 roboto-family-font text-weight-regular ls-0">Pacient din:</span>
            <span class="p-0 s16-h24 roboto-family-font text-weight-medium ls-0">
              {{personRegistrationDate}}
            </span>
          </div>

        </div>

      </div>

      <div class="w-100 px-16 py-12 flex ion-justify-content-end ion-align-items-center border-top-1px-solid-neutral-grey-light-b-color">
        <ion-button class="biz-tertiary" size="default-flat" (click)="closeModal()">
            INCHIDE
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>

