<ion-content>
  <div class="info-pacient-modal w-100">
    <div class="ion-no-padding flex flex-column w-100">
      <div class="w-100 px-16 pt-20 pb-16">
        <span class="p-0 s20-h28 text-weight-medium ls-0 roboto-family-font">Angela Ghica Protopopescu</span>
      </div>
      <div class="w-100 p-24">
        <div class="w-100 flex flex-column">
          <div class="flex flex-row ion-justify-content-between">
            <span class="p-0 s16-h24 roboto-family-font text-weight-regular ls-0">Programări:</span>
            <span class="p-0 s16-h24 roboto-family-font text-weight-medium ls-0">12</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

