<div class="dougnut  px-16 w-100" *ngIf="type === 'dougnut'" style="display: flex;">
  <canvas baseChart 
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [legend]="false"
    [colors]="chartColors"
    [options]="options"
    [chartType]="doughnutChartType">
  </canvas>
</div>
<div *ngIf="type === 'line'" style="display: flex;">
  <canvas baseChart
    [data]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="false"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
  </div>
