<ion-header class="ion-no-border" [translucent]="true" mode="md">
  <ion-toolbar class="ion-no-padding">

    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon
        name="arrow-left"
        class="icon-24 black-color"
        slot="icon-only"
      ></ion-icon>
    </ion-buttons>

    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" [formGroup]="searchForm">
        <app-input
          [config]="config"
          formControlName="search"
        ></app-input>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-segment value="Pacienți" (ionChange)="segmentChanged($event)" color="biz-primary" mode="md">
    <ion-segment-button value="Pacienți">
      <ion-label>Pacienți</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Grupuri">
      <ion-label>Grupuri</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="modal-view mb-60">
    <div>
      <div *ngIf="list" class="mb-32">
        <ion-list>

        <ion-item *ngFor="let item of list; let i=index" (click)="submit(item)">

          <div class="flex flex-column">
            <p class="m-0 s20-h24 roboto-family-font text-weight-regular ls-0">
              {{item.first}}
            </p>
            <p class="m-0 flex flex-row ion-align-items-center">
              <ion-text class="s16-h24 roboto-family-font text-weight-regular ls-0">
              {{item.second}}
            </ion-text>
            <ion-text class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor px-4">
              /
            </ion-text>
            <ion-text class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
              {{item.third}}
            </ion-text>
            </p>
          </div>

        </ion-item>
        </ion-list>

      </div>
      <div>
        <ion-chip
            class="chip"
            outline="true"
            color="biz-chip-secondary"
          >
            <ion-label>
              Adaugă
            </ion-label>
            <ion-icon name="user-new"></ion-icon>
        </ion-chip>
      </div>
  </div>
  </div>

</ion-content>

