<ion-content [scrollEvents]="true" [fullscreen]="true">
  <div class="modal-div-body">
    <div class="modal-div-header white-bg">
      <ion-header class="ion-no-border" [translucent]="true" mode="md">
        <ion-toolbar class="ion-no-padding">

          <ion-buttons slot="start" (click)="closeModal()">
            <ion-icon
              name="arrow-left"
              class="icon-24 black-color"
              slot="icon-only"
            ></ion-icon>
          </ion-buttons>

          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding" [formGroup]="searchForm">
              <app-input
                [config]="config"
                formControlName="search"
              ></app-input>
            </ion-col>
          </ion-row>


        </ion-toolbar>
      </ion-header>
      <ion-segment [value]="currentSegement" (ionChange)="segmentChanged($event)" color="biz-primary" mode="md" class="position-sticky">
        <ion-segment-button [value]="segment.one">
          <ion-label>{{segment.one}}</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="segment.two">
          <ion-label>{{segment.two}}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>


    <div *ngIf="currentSegement === segment.one">
      <div class="modal-div-body modal-view mt-150">
        <div>
          <div *ngIf="(this.list$ | async)?.length > 0; else loadingTemplate">
            <ion-list>

              <ion-item *ngFor="let item of this.list$ | async as items" (click)="submit(item)">

                <div class="flex flex-column">
                  <p class="m-0 s20-h24 roboto-family-font text-weight-regular ls-0">
                    {{item?.firstName}} {{item?.lastName}}
                  </p>
                  <p class="m-0 flex flex-row ion-align-items-center">
                    <ion-text class="s16-h24 roboto-family-font text-weight-regular ls-0">
                      {{item?.genderID === 0 ? 'M' : 'F'}}
                    </ion-text>
                    <ion-text
                    class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor px-4"
                    *ngIf="item?.phone">
                      /
                    </ion-text>
                    <ion-text class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
                      {{item?.phone}}
                    </ion-text>
                  </p>
                </div>

              </ion-item>
            </ion-list>

          </div>


        </div>
      </div>
      <div class="w-100 flex ion-justify-content-center ion-align-items-center mt-10 mb-24">
        <ion-chip class="chip" outline="true" color="biz-chip-secondary" (click)="presentPacientnew()">
          <ion-label>
            ADAUGĂ PACIENT
          </ion-label>
          <ion-icon name="user-new"></ion-icon>
        </ion-chip>
      </div>
    </div>

    <div *ngIf="currentSegement === segment.two">
      <div class="modal-div-body modal-view mt-150">
        <div>
          <div *ngIf="(groupList$ | async)?.length > 0; else loadingTemplate">
            <ion-list>

              <ion-item *ngFor="let grupuri of this.list$ | async as items" (click)="submit(grupuri)">

                <div class="flex flex-column">
                  <p class="m-0 s20-h24 roboto-family-font text-weight-regular ls-0">
                    {{grupuri.groupName}}
                  </p>
                  <p class="m-0 flex flex-row ion-align-items-center">
                    <ion-text class="s16-h24 roboto-family-font text-weight-regular ls-0">
                      4 membri
                    </ion-text>
                    <ion-text class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor px-4">

                    </ion-text>
                    <!-- <ion-text class="s16-h24 roboto-family-font text-weight-regular ls-0 defaultGrayColor">
                      {{grupuri.groupName}}
                    </ion-text> -->
                  </p>
                </div>

              </ion-item>
            </ion-list>

          </div>

        </div>
      </div>
      <div class="w-100 flex ion-justify-content-center ion-align-items-center mt-10 mb-24">
        <ion-chip class="chip" outline="true" color="biz-chip-secondary" (click)="presentGrupNouModal()">
          <ion-label>
          ADAUGĂ GRUP NOU
          </ion-label>
          <ion-icon name="user-group"></ion-icon>
        </ion-chip>
      </div>
    </div>

  </div>


</ion-content>

<ng-template #loadingTemplate>
  <div class="w-100 flex ion-justify-content-center ion-align-items-center">
    <ion-spinner name="crescent" color="biz-primary"></ion-spinner>
  </div>
</ng-template>

