<ion-header class="ion-no-border" [translucent]="true" mode="md">
  <ion-toolbar class="ion-no-padding">

    <ion-buttons slot="start" (click)="closeModal()">
      <ion-icon
        name="arrow-left"
        class="icon-24 black-color"
        slot="icon-only"
      ></ion-icon>
    </ion-buttons>

    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" [formGroup]="searchForm">
        <app-input
          [config]="config"
          formControlName="search"
        ></app-input>
      </ion-col>
    </ion-row>


  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" [fullscreen]="true">
  <div class="modal-view pb-60">
    <form [formGroup]="componentFormGroup">

  </form>
  </div>

</ion-content>

