
<app-mwl-day-view-scheduler
  [viewDate]="viewDate"
  [events]="events"
  [users]="users"
  [holidays]="holidays"
  [schedules]="schedules"
  (eventTimesChanged)="eventTimesChanged($event)"
  (userChanged)="userChanged($event)"
>
</app-mwl-day-view-scheduler>

<div *ngIf="allEvents.length > 5" class="fab-container">
  <ion-button fill="outline" size="large" color="biz-primary" class="bg-white left" (click)="left()">
    <ion-icon class="icon-24" name="arrow-left" color="ion-color-biz-primary"></ion-icon>
  </ion-button>
  <ion-button fill="outline" size="large" color="biz-primary" class="bg-white right" (click)="right()">
    <ion-icon class="icon-24" name="arrow-right" color="ion-color-biz-primary"></ion-icon>
  </ion-button>

</div>



