.weekview-container, .dayview-container{
    --height: 500px !important;
    height: 500px !important;
}
.cal-month-view .cal-header .cal-cell {
    text-transform: uppercase !important;
    color: #97A1A6;
    font-size: 12.8px;
    letter-spacing: 0;
    line-height: 16px;
}

.cal-today{
    color: #1EA5C7;
    font-family: Roboto;
    font-size: 12.8px;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: capitalize;
}
.cal-today span{
    color: #1EA5C7;
    font-family: Roboto;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: capitalize;
}
.cal-header{
    border: none;
    text-align: left;
}
.cal-time {
    font-weight: normal;
}
// .cal-event {
//     width: 0px !important;
//     height: 0px !important;
//     border-radius: 10px !important;
//     display: inline-block;
//     margin: 2px;
//     font-size: 11px;
//     letter-spacing: -0.3px;
//     line-height: 13px;
// }
.cal-month-view .cal-day-cell:not(:last-child) {
    border-right-color: #D5DBDE;
}
.cal-month-view .cal-days .cal-cell-row {
    border-bottom-color: #D5DBDE;
}
.cal-week-view .cal-time {
    font-weight: normal;
    color: #97A1A6;
    font-size: 11px;
    padding-top: 5px;
    letter-spacing: -0.3px;
    line-height: 13px;
    text-align: center;
}
.cal-event-title{
    color: #fff;
}
.cal-week-view .cal-event{
    background: none;
    border: none;
    
}
.cal-week-view .cal-ends-within-day .cal-event {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
}
.cal-month-view .cal-day-badge {
    border-radius: none;
    background-color: transparent !important;
    color: #97A1A6;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: -0.3px;
    line-height: 12px;
    text-align: center;
}
.vaction {
    background-color: #FFE9A1;
}
.cal-month-view .cal-cell-top {
    min-height: 0px !important;
    

    transform: translateY(0px);
    /* position: absolute; */
    /* bottom: 5px; */
}
.cal-month-view .cal-day-number {
    font-size: 1.2em;
    font-weight: 400;
    opacity: 0.5;
    text-align: center;
    margin-top: 7px;
    margin-right: 0px;
    float: none; 
}
.cal-month-view .cal-day-cell {
    min-height: 107px;
    width: 52px;
    text-align: center;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 1.2em;
}
// .cal-month-view .cal-day-cell.cal-today {
//     background-color: #e8fde7;
// }
.day-info{
    color: #198CA9 !important;
   
  
  }