
<ion-grid  *ngIf="!isTablet">
  <ion-row  *ngFor="let ev of eventList" class="card-row">
    <ion-col class="flex flex-column pl-64 " size="12">
      <ion-text  class="ev-day current-day">{{ev.week}}, {{ev.events.length}} programari</ion-text>
    </ion-col>
    <ion-col  class="flex flex-column px-0" size="12">
          <ion-row>
            <ion-col class="flex flex-column" size="2">
              <ion-text class="ev-day" [ngClass]="ev.current ? 'current-day' : ''" >{{ev.day.split(' ')[0].slice(0,3)}}</ion-text>
              <ion-text class="ev-date" [ngClass]="ev.current ? 'current-day' : 'day-nr'" >{{ev.day.split(' ')[1]}}</ion-text>
      
            </ion-col>
            <ion-col size="10" >
                <ion-row *ngFor="let cal of ev.events" class="bg-card flex flex-column"  [ngClass]="cal.class"  >
                  <ion-col size="12">
                    <div class="info flex">
                      <div>
                        <ion-text class="hour">{{cal.time}}</ion-text> • <ion-text class="location">{{cal.location}}</ion-text>
                      </div>
                      <div  class="pt-4">
                        <!-- <ion-icon name="today-v-2" class="mr-8" ></ion-icon> -->
                        <ion-icon *ngFor="let icon of cal.icons" class="mr-5 event-icon" color="success" [name]="icon" ></ion-icon>   
                      </div>  
                    </div>
                    <ion-text class="title">
                      {{cal.title}}
                    </ion-text>
                    <p class="desc">
                      {{cal.desc | slice:0:90}}
                    </p>
                  </ion-col>
                 
                </ion-row>
                
              </ion-col>
            
            
          </ion-row>
       
      
    </ion-col>

    
  </ion-row>
  <!-- <ion-row class="ev-month    text-white">
    <ion-text>Aprilie 2021</ion-text>
  </ion-row> -->

</ion-grid>

<ion-grid *ngIf="isTablet">
  <ion-row  *ngFor="let ev of eventList" class="card-row">
    <ion-col offset="3.6" size="12">
      <ion-row>
        <ion-col class="flex flex-column" offset="1" size="12">
          <ion-text  class="ev-day current-day">{{ev.week}}, {{ev.events.length}} programari</ion-text>
      
        </ion-col>
        <ion-col class="flex flex-column px-0" size="12">
          <ion-row>
            <ion-col class="flex flex-column" size="1">
              <ion-text class="ev-day" [ngClass]="ev.current ? 'current-day' : ''" >{{ev.day.split(' ')[0].slice(0,3)}}</ion-text>
              <ion-text class="ev-date" [ngClass]="ev.current ? 'current-day' : 'day-nr'" >{{ev.day.split(' ')[1]}}</ion-text>
      
            </ion-col>
            <ion-col size="10" >
                <ion-row *ngFor="let cal of ev.events" class="bg-card flex flex-column"  [ngClass]="cal.class" size="10" >
                  <ion-col size="12">
                    <ion-row >
                      <ion-col size="7">
                        <ion-text class="hour">{{cal.time}}</ion-text> • <ion-text class="location">{{cal.location}}</ion-text>
                      </ion-col>
                      <ion-col size="4"  class="pt-10">
                        
                        <!-- <ion-icon name="today-v-2" class="mr-8" ></ion-icon> -->
                        <ion-icon  *ngFor="let icon of cal.icons; let i = index" class="mr-5 event-icon" color="success" [name]="icon" ></ion-icon>          
                      </ion-col>
                    </ion-row>
                    <ion-text class="title">
                      {{cal.title}}
                    </ion-text>
                    <p class="desc">
                      {{cal.desc | slice:0:90}}
                    </p>
                  </ion-col>
                 
                </ion-row>
                
              </ion-col>
            
            
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    
  </ion-row>
  <!-- <ion-row class="ev-month    text-white">
    <ion-text>Aprilie 2021</ion-text>
  </ion-row> -->

</ion-grid>

