.cal-header{
    padding: 20px 24px 0 48px;
    // position: fixed;
    width: 100%;
    z-index: 10;
    height: 80px;
    background: white;
    border-bottom: 1px solid  #D5DBDE;
    margin-bottom: 75px;
  }
  .card-row:not(last-child){
    margin-bottom: 40px;
  }
  .ev-date {
    font-family: Roboto;
    text-align: center;
    font-size: 12.8px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
  }
  .info{
    justify-content: space-between
  }
  .calendar-m {
    margin-top: 70px !important;
  }
  .header-date{
    color: #198CA9;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
  }
  .header-events{
    color: #198CA9;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  .icon, ion-menu-button{
    color: #1EA5C7;
  }
  .bg-card:not(:last-child){
    margin-bottom: 8px;
      // background-color: #EAF6E8;
      // border-radius: 4px 0 0 4px;
      // border-left: 4px solid;
  }
  .day-nr{
    color: #97A1A6;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.5px;
    line-height: 28px;
  }
  .hour, .location {
      height: 24px;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      margin-top: 8px;
    }
  .title {
      text-align: left;
      color: #000000;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 28px;
      margin-bottom: 4px;
    }
    .desc {
      text-align: left;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
    }
    .small{
      font-size: 10px;
    }
    .cal-month-view .cal-header .cal-cell {
      text-transform: uppercase !important;
  }
  .ev-day{
    color: #97A1A6;
    font-family: Roboto;
    font-size: 12.8px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
  }
  .current-day{
    color: #1EA5C7;
  }
  .ev-date{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.5px;
    line-height: 28px;
  }
  .ev-month{
    padding: 30px 64px 18px 64px;
    margin: 20px 0px 32px 0px;
    background-color: #ABE8F7;
    color: #000000;
    font-family: Poppins;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
  }

  .ev-month::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    top: -4px;
  }
  .ev-month::after{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    right: 50px;
    background: #fff;
    border-radius: 50%;
    top: -4px;
  }