.cal-header{
    padding: 20px 24px 0 48px;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 80px;
    background: white;
    border-bottom: 1px solid  #D5DBDE;
    margin-bottom: 75px;
  }
  .calendar-m {
    margin-top: 70px !important;
  }
  .header-date{
    color: #198CA9;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
  }
  .header-events{
    color: #198CA9;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  .icon, ion-menu-button{
    color: #1EA5C7;
  }
  .bg-card{
      width: 307px;
      background-color: #EAF6E8;
      border-radius: 4px 0 0 4px;
      border-left: 4px solid #2EA81B;
  }
  .hour, .location {
      height: 24px;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      margin-top: 8px;
    }
  .title {
      height: 28px;
      color: #000000;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 28px;
      margin-bottom: 4px;
    }
    .desc {
      height: 40px;
      color: #000000;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 20px;
    }
    .small{
      font-size: 10px;
    }
    .cal-month-view .cal-header .cal-cell {
      text-transform: uppercase !important;
  }
  