<ion-row *ngFor="let ev of eventList" class="mt-40">
  <ion-col class="flex flex-column  ion-text-center" size="12">
    <ion-text class="ev-date">MAR 15 - 21, 19 programari</ion-text>

  </ion-col>
  <ion-col class="flex flex-column pl-16  ion-text-center" size="12">
    <ion-row>
      <ion-col class="flex flex-column" size="2">
        <ion-text>{{ev.day}}</ion-text>
        <ion-text>8</ion-text>

      </ion-col>
      <ion-col size="10" style="width: 100%;" >
          <ion-row *ngFor="let cal of ev.events" class=" mb-8 bg-card flex flex-column"  [style.background-color]="cal.bgColor" [style.borderColor]="cal.borderColor" size="10" >
            <ion-col size="12">
              <div class="info flex">
                <div>
                  <ion-text class="hour">{{cal.time}}</ion-text> • <ion-text class="location">{{cal.location}}</ion-text>
                </div>
                <div class="pt-4">
                  
                  <ion-icon name="today-v2" ></ion-icon>
                  <ion-icon color="success" name="cnas" ></ion-icon>            
                </div>
              </div>
              <h5 class="title">
                {{cal.title}}
              </h5>
              <p class="desc">
                {{cal.desc | slice:0:90}}
              </p>
            </ion-col>
           
          </ion-row>
          
        </ion-col>
      
      
    </ion-row>
  </ion-col>
  
</ion-row>
