<ion-content>
  <div class="w-100">

    <div class="ion-no-padding flex flex-column w-100 position-relative">
      <div class="w-100 px-16 pt-20 pb-15 border-bottom-1px-solid-neutral-grey-light-b-color modal-header">
        <span class="p-0 s20-h28 text-weight-medium ls-0 roboto-family-font">Adaugă</span>
      </div>

      <div class="modal-body">
        <form [formGroup]="customRadioForm">
          <ion-list>
            <ion-radio-group formControlName="radio" class="w-100" (ionChange)="checkRadio($event)">

              <ion-item *ngFor="let item of items; let i=index" class="item-radio-modal">

                <ion-label class="s18-h24 roboto-family-font text-weight-400 ls-0">{{ item?.label }}</ion-label>

                <ion-radio slot="start" color="biz-primary" class="" mode="md" [value]="item.id"></ion-radio>


              </ion-item>
            </ion-radio-group>
          </ion-list>
        </form>
      </div>

      <div
        class="w-100 px-16 py-12 flex ion-justify-content-end ion-align-items-center border-top-1px-solid-neutral-grey-light-b-color modal-footer">
        <div class="mr-16">
          <ion-button class="biz-tertiary" size="default-flat" (click)="closeModal()">
            RENUNȚĂ
          </ion-button>
        </div>
        <div>
          <ion-button class="biz-tertiary" size="default-flat" (click)="closeModal(false)">
            CONTINUĂ
          </ion-button>
        </div>
      </div>

    </div>
  </div>
</ion-content>
