  <div class="w-100 my-32">
      <app-add-service-selection></app-add-service-selection>
    </div>
 <div class="w-100 pt-32">
     <div class="w-100 mb-56">
        <ion-text class="s40-h40 poppings-family-font ls-0">Icons & <br> miscellaneous</ion-text>
    </div>

    <div class="mb-32">
        <ion-label class="s25-h32 poppings-family-font ls-0">Icons</ion-label>
    </div>

    <div class="mb-24">
      <ion-text class="s18-h24 roboto-family-font text-weight-400 ls-02">
        Icons are used to improve readability <br>
        and help users identify fields more <br>
        quickly. Their size is 24x24 pixes; an <br>
        48x48 touch target area should be used <br>
        for those that are interactive.
      </ion-text>
    </div>

    <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="plus"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="minus"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="close"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="chevron-down"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="chevron-up"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="chevron-left"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="chevron-right"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>

    <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="share-custom"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="caret-down"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="caret-up"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="arrow-down"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="arrow-up"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="arrow-left"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="arrow-right"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>

    <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="edit"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="delete"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="help--custom"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="warning-custom"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="badge-left"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="clock"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="info"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>

    <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="options-custom"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="loader"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="menu-hamburger"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="copy-biz"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="programare"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="note"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="programare-1"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>

    <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="user"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="users"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="user-new"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="user-redirect"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="doctor"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="cnp"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="cnp-1"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>

    <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="default"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="1-day"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="3-days"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="5-days"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="consult"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="coparativ"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="month"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>

    <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="schedule"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="today-v-2"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="today-v-1"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="clipboard-biz"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="cnas"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="cancelled"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="privat"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>

    <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="settings-custom"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="services"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="recurenta"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="reconfirmation"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="bar-chart"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="cabinet"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="computer"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>

    <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="location-custom"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="deconectare"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="search-custom"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="equipment"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="confirmation-by-phone"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="confirmation-by-sms"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="card-biz"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>

    <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="notificare"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="nou"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="paid"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="partially-paid"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="pending"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="phone"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>

    <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="checkbox-off-disabled"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="checkbox-off"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="checkbox-on-disabled"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="checkbox-on"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="checknox-indecisive-disabled"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="checknox-indecisive"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
       <ion-icon
        name="check"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>

     <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="radio-off-disabled"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="radio-on-disabled"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="switch-off"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="switch-on"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <div class="col"></div>
    </div>

    <div class="mb-24 defaultGrayColor flex flex-row ion-justify-content-between">
      <ion-icon
        name="sort-default"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="close-2"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="refresh"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="add-draft"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="folder-custom"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
      <ion-icon
        name="kebab"
        class="icon-24 defaultGrayColor"
      ></ion-icon>
    </div>

  </div>

  <div class="w-100 mt-32">
    <div class="my-20">
      <ion-label class="s25-h32 poppings-family-font ls-0">Tooltips</ion-label>
    </div>
    <app-icons
      name="plus"
      class="icon-24 defaultGrayColor"
      tooltip="Tooltip"
      tooltipClass="right-tootip tooltip-visible"
    ></app-icons>
  </div>

  <div class="w-100 my-56">
      <ion-text class="s40-h40 poppings-family-font ls-0">Selection</ion-text>
  </div>

  <div class="w-100 mb-20">
    <div class="w-100">
      <div class="mb-32">
          <ion-label class="s25-h32 poppings-family-font ls-0">Checkboxes</ion-label>
      </div>
    </div>
      <ion-list>
        <ion-item *ngFor="let entry of checkBoxes" class="item-checkbox">
          <ion-label class="s18-h24 roboto-family-font text-weight-400 ls-02">{{entry.val}}</ion-label>
          <ion-checkbox
          slot="start"
          color="biz-primary"
          class="margin-inline-end-12"
          mode="md"
          [indeterminate]="entry.indeterminate"
          [disabled]="entry.disable"
          [checked]="entry.isChecked"
          ></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>

    <div class="w-100">
      <!-- use this instead
      <div class="w-100" [formGroup]="radioForm">
        <app-radios
            [config]="radioConfig"
            [options]="radioOptions"
            formControlName="radio"
            class="w-100"
          >
          </app-radios>
      </div>
      -->
      <!-- this is just for styling -->
      <ion-list>
      <ion-radio-group value="buford" mode="md">
        <ion-list-header>
          <ion-label class="s25-h32 poppings-family-font ls-0">Radio buttons</ion-label>
        </ion-list-header>

        <ion-item class="item-radio">
          <ion-label class="s18-h24 roboto-family-font text-weight-400 ls-0">Radio button off</ion-label>
          <ion-radio
            slot="start"
            value="off"
            color="biz-primary"
            ></ion-radio>
        </ion-item>

        <ion-item class="item-radio">
          <ion-label class="s18-h24 roboto-family-font text-weight-400 ls-0">Radio button off disabled</ion-label>
          <ion-radio
          slot="start"
          value="offD"
          color="biz-primary"
          disabled="true"
          ></ion-radio>
        </ion-item>

        <ion-item class="item-radio">
          <ion-label class="s18-h24 roboto-family-font text-weight-medium ls-0">Radio button on</ion-label>
          <ion-radio
          slot="start"
          value="buford"
          color="biz-primary"
          ></ion-radio>
        </ion-item>

         <ion-item class="item-radio">
          <ion-label class="s18-h24 roboto-family-font text-weight-medium ls-0">Radio button on disabled</ion-label>
          <ion-radio
          slot="start"
          value="buford"
          color="biz-primary"
          disabled="true"
          ></ion-radio>
        </ion-item>


      </ion-radio-group>
    </ion-list>
    </div>

  <div class="w-100 my-32" [formGroup]="selectionForm">
    <ion-label class="s25-h32 poppings-family-font ls-0">Switch / toggle</ion-label>
    <div class="w-100 mt-20">
      <ion-list>
      <ion-item>
        <ion-toggle color="biz-primary" mode="md"></ion-toggle>
        <ion-label class="s18-h24 roboto-family-font text-weight-medium ls-0">Switch off</ion-label>
      </ion-item>

      <ion-item>

        <ion-toggle disabled="true" color="biz-primary" mode="md"></ion-toggle>
        <ion-label class="s18-h24 roboto-family-font text-weight-medium ls-0">Switch off disabled</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle color="biz-primary" mode="md" checked="true"></ion-toggle>
        <ion-label class="s18-h24 roboto-family-font text-weight-medium ls-0">Switch on</ion-label>
      </ion-item>
    </ion-list>
    </div>

    <div class="w-100 my-20" [formGroup]="radioFormA">

      <!-- <div class="mb-8">
        <label class="s12pt8-h16 roboto-family-font text-weight-medium ls-0">Tip servicii</label>
      </div>
      <ion-chip outline="true" class="selected mr-8">
        <ion-label>Cu plată</ion-label>
      </ion-chip>
      <ion-chip outline="true" class="default">
        <ion-label>C.N.A.S.</ion-label>
      </ion-chip> -->
      <app-radios
        [config]="radioConfigA"
        [options]="radioOptionA"
        formControlName="radio"
        class="w-100"
      >
    </app-radios>

    </div>

    <div class="w-100 my-52" [formGroup]="radioForm">

      <app-radios
        [config]="radioConfigB"
        [options]="radioOptionB"
        formControlName="radio"
        class="w-100"
      >
    </app-radios>

    </div>


    <div class="w-100 my-32">
      <app-select
      [config]="config"
      formControlName="select"
      [options]="options"
      class="w-100"
      ></app-select>
    </div>
    <div class="w-100 mt-32 mb-60">
      <app-select
      [config]="configB"
      formControlName="select"
      [options]="options"
      class="w-100"
      ></app-select>
    </div>

    <div class="w-100 my-32">
      <app-biz-custom-selection
        [config]="inputChipConfig"
        [data]="checkList"
        (modalOpenEvent)="presentModal()"
      ></app-biz-custom-selection>
    </div>

  </div>
