@import '../variables.scss';
@import '../mixins/mixins';

.bottom-1px-solid-grey-default-color {
  border-bottom: 1px solid var(--ion-neutral-grey-default-color) !important;
}

.border-bottom-1px-solid-neutral-grey-light-b-color {
  border-bottom: 1px solid var(--ion-neutral-grey-light-b-color) !important;
}

.border-top-1px-solid-neutral-grey-light-b-color {
  border-top: 1px solid var(--ion-neutral-grey-light-b-color) !important;
}
