@import '../variables.scss';
@import '../mixins/mixins';

.biz {
  ion-chip {
    border-radius: 8px;
    -webkit-font-smoothing: antialiased;
    margin: 0;

    font-family: var(--ion-font-roboto-family);
    font-weight: 500;
    letter-spacing: 0;

    &.chip-radio {

      padding: 9px 12px;
      height: 40px;

      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 24px;
      text-align: center;
    }

    &.input-chip {
      padding: 8px;
      height: 32px;

      font-size: 12.8px;
      line-height: 16px;
    }


    &.selected {
      border: 2px solid #5CCAE6;
      background: #E3F9FF;
      color: #198CA9;
    }

    &.default {
      border: 2px solid #97A1A6;
      background: #FFFFFF;
      color: #000000;
    }
  }
}

.ion-color-biz-radio-chip-active {
  --ion-color-base: #198CA9;
  background: #E3F9FF;
  /* border-color: #5CCAE6; */
  border: 2px solid #5CCAE6;
  --background: #E3F9FF;
  --color: var(--ion-color-base);
  --ion-color-base-rgb: rgb(25, 140, 169);
}

.ion-color-biz-radio-chip-default {
  --ion-color-base: #000;
  background: #FFFFFF;
  border: 2px solid #97A1A6;
  --background: #FFFFFF;
  --color: var(--ion-color-base);
  --ion-color-base-rgb: rgb(25, 140, 169);
}
