@import '../variables';
@import '../mixins/mixins';

.biz {
  ion-header {
    background-color: white !important;
    padding: 16px 16px 25px 32px !important;
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 3000000;

    &.header-type-a {
      border-bottom: 1px solid var(--ion-neutral-grey-medium-color);
      box-shadow: var(--ion-light-box-shadow);

      ion-toolbar {
        --min-height: auto !important;

        ion-title {
          padding-inline: 0 !important;
        }

        ion-buttons {
          margin-inline-start: 0 !important;

          ion-icon {
            margin-right: 0 !important;
          }

          &.slot-start {
            margin-right: 8px !important;
          }
        }

        ion-button {
          margin: 0 !important;
        }


      }

      @media (min-width: $desktop-width) {
        &.no-border-lg {
          border: none !important;
        }

      }

    }

    &.no-box-shadow {
      box-shadow: none !important;
    }
  }
}
