@import "./fonts";
@import "./typography";
@import "./button";
@import "./colors";
@import "./images";
@import "./item";
@import "./input";
@import "./textarea";
@import "./select";
@import "./alert";
@import "./radio";
@import "./checkbox";
@import "./chips";

.biz {
  ion-toggle {
    height: 24px;
    --background: white;
    --handle-background: #97A1A6;
    --handle-spacing: 2px;

    &::part(track) {
      border: 2px solid #97A1A6 !important;
    }


    &.toggle-checked {
      &::part(track) {
        border: 2px solid #1EA5C7 !important;
      }
    }
  }
}
