@import '../variables.scss';
@import '../mixins/mixins';

.biz {
  ion-input {
    --padding-start: 0;
    font-family: var(--ion-font-roboto-family);
    font-size: rem(16);
    line-height: rem(24);
    letter-spacing: 0;

    --placeholder-color: var(--ion-neutral-grey-default-color);
    --placeholder-opacity: 1;

    &:focus-within,
    &.isInputFocused {
      --padding-start: 8px !important;
      --placeholder-opacity: 0;
    }

    input[disabled],
    .disabled {
      background: var(--ion-neutral-grey-light-b-color);
      color: var(--ion-neutral-grey-medium-color);
    }
  }

  .biz-custom-form-group {
    @include flexbox;
    width: 100%;
    @include justify-content(flex-start);
    @include align-items(center);
    @include flex-wrap(wrap);

    ion-input {
      input {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
      }
    }

    ion-icon {
      height: rem(24);
      width: rem(24);
    }
  }
}
