@import '../variables';
@import '../mixins/mixins';

.biz {
  .biz-modal-class {
    /* can be remove for more customizations */
    --backdrop-opacity: 0;
    background: var(--ion-neutral-grey-light-b-color) !important;
    --box-shadow: var(--ion-diffuse-box-shadow) !important;

    .modal-wrapper {
      height: 100vh !important;
    }

    /*  */
    &.neutral-grey-light-backdrop {
      --backdrop-opacity: 0;
      background: var(--ion-neutral-grey-light-b-color) !important;
      --box-shadow: var(--ion-diffuse-box-shadow) !important;
    }

    ion-header {
      padding: 22px 16px 22px 32px;
      background: white !important;
      border-bottom: 1px solid var(--ion-neutral-grey-default-color);

      ion-toolbar {
        --min-height: 0 !important;
      }

      ion-buttons {
        margin-inline-start: 0 !important;

        ion-icon {
          margin-inline-start: 0 !important;
          margin-right: 24px !important;
        }
      }



      ion-button {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      ion-item {
        --min-height: auto !important;
      }

      ion-input {
        font-size: rem(20);
        line-height: rem(28);

        input {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
        }


        &:focus-within,
        &.isInputFocused {
          --padding-start: 0 !important;
        }

        input[disabled],
        .disabled {
          --padding-start: 0 !important;
        }
      }
    }

    ion-content {
      /* hide scroll bar */
      --offset-bottom: auto !important;
      --overflow: hidden;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      /*  */

      .modal-view {
        padding: 22px 16px 22px 32px;
        overflow: auto !important;

        ion-item {
          align-items: flex-start;
          margin-bottom: 16px !important;

          ion-checkbox {
            margin-top: 2px !important;

            margin-inline: 0 24px !important;
          }
        }
      }

      .modal-view-radio {
        padding: 6px 16px 22px 32px;
      }
    }

  }

  @media (min-width: $desktop-width) {
    .biz-modal-class {
      .modal-wrapper {
        height: 100vh !important;
      }
    }
  }

  .biz-modal-class-type-a {
    --backdrop-opacity: 0.8 !important;

    .modal-wrapper {
      box-shadow: var(--ion-diffuse-box-shadow);
      margin: 80px auto 64px;
      border-radius: rem(8);
      --height: auto;
      --max-height: 100%;
      --min-height: 448px;
      height: var(--height);
      min-height: var(--min-height);
      max-height: var(--max-height);
      width: 311px;

      ::part(scroll) {
        overflow: hidden !important;
      }

      .modal-header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        height: 64px;
        background: white;
      }
      .modal-body {
        width: 100%;
        position: relative;
        margin-top:64px;
        margin-bottom: 54px;
        padding: 0 24px;
      }

      .modal-footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        height: 54px;
        background: white;
      }
    }
    &.modal-wrapper-with-232px-height {
      .modal-wrapper {
        --min-height: 232px !important;
        min-height: var(--min-height) !important;
      }      
    }
  }

  @media (min-width: $desktop-width) {
    .biz-modal-class-type-a {
      .modal-wrapper {
        width: 413px !important;
      }
    }
  }

  .modal-div-body {
    position: relative;

    .modal-div-header {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;

      &.white-bg {
        background: white;
      }
    }

    .modal-div-body {
      overflow: auto !important;
      padding-right: 16px;
      padding-left: 32px;
    }
  }
}
