@import '../variables.scss';
@import '../mixins/mixins';

.biz {
  ion-textarea {
    --padding-start: 0;
    font-family: var(--ion-font-roboto-family);
    font-size: rem(16);
    line-height: rem(24);
    letter-spacing: 0;
    min-height: rem(80);

    --placeholder-color: var(--ion-neutral-grey-default-color);
    --placeholder-opacity: 1;

    &:focus-within,
    &.isInputFocused {
      --padding-start: 8px !important;
      --placeholder-opacity: 0;
    }

    textArea[disabled],
    .disabled {
      background: var(--ion-neutral-grey-light-b-color);
      color: var(--ion-neutral-grey-medium-color);
      --padding-start: 8px !important;
    }

    textarea,
    .native-textarea {
      min-height: rem(80);

      &::-webkit-resizer {
        width: 12px;
        height: 12px;
        background-image: url('~src/assets/custom-icons/textarea-resize-icon.svg');
        background-repeat: no-repeat;
        background-size: 100%;
      }

      resize: vertical;
    }
  }
}
