@import '../variables.scss';
@import '../mixins/mixins';

.biz {
  ion-toast {
    &.error {
      --background: var(--ion-primary-error-color) !important;
      --color: #000 !important;
    }

    &.success {
      --background: var(--ion-primary-color-step-100) !important;
      --color: #ffffff !important;
    }

    --border-radius: 0;

    &::part(message) {
      text-align: center;
    }
  }
}
