<div class="tooltip">
   <ion-icon
      name="plus"
      [color]="color || ''"
      [class]="class || ''"
      [name]="name || ''"
      [slot]="slot || ''"
    ></ion-icon>
  <span [class]="
    ' tooltiptext s12pt8-h16 roboto-family-font text-weight-medium ls-0 ' + (tooltipClass || '')
    "
    *ngIf="tooltip">
    {{tooltip}}
  </span>
</div>
<!-- do remove tooltips-visible -->
<!--   <div class="tooltip">Hover over me
    <span class="tooltiptext left-tootip">Tooltip text</span>
  </div> -->
