<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>style-guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Style Guide</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="forInputs px-32 mt-20">
    <ion-text class="s40-h40 poppings-family-font ls-0">Input fields</ion-text>
    <!-- inputs -->
    <form class="mt-32 mb-90" [formGroup]="styleForm">
      <div class="mb-20">
        <app-input
          [config]="config"
          formControlName="text"
        ></app-input>
      </div>
      <div>
        <app-input
          [config]="inputStyleGuide.disabledConfig"
          formControlName="text"
        ></app-input>
      </div>
      <div class="mb-20">
        <app-input
          [config]="inputStyleGuide.filledConfig"
          formControlName="filled"
        ></app-input>
      </div>
      <div class="mb-20">
        <app-input
          [config]="inputStyleGuide.focusedConfig"
          formControlName="focused"
        ></app-input>
      </div>
      <div class="mb-40">
        <app-input
          [config]="inputStyleGuide.errorConfig"
          formControlName="focused"
        ></app-input>
      </div>

      <!-- with icons -->
      <ion-text class="s20-h28 poppings-family-font ls-0">with Icons</ion-text>
      <div class="mt-12 mb-20">
        <app-input
          [config]="inputStyleGuide.defaultWithIcon"
          formControlName="text"
        ></app-input>
      </div>
      <!--  -->
    </form>
    <!--  -->
  </div>

  <div class="mt-32 px-32">
    <ion-text class="s40-h40 poppings-family-font ls-0">Typography</ion-text>
    <h4 class="mt-56 mb-24">
      H4 - Poppins Reg., 25 pt. <br>
      Line height 32 <br>
      Letter spacing 0 <br>
      Știm cât de importantă
    </h4>
    <h5 class="mb-24">
      H5 - Roboto, 20 pt. <br>
      Line height 28 / Letter spacing 0 <br>
      Știm cât de importantă este pentru
    </h5>
    <div class="mb-24">
      <ion-text class="s18-h24 roboto-family-font text-weight-400 ls-02">
        Body - Roboto, 18 pt. <br>
        Line height 24 / Letter spacing - 0.2 <br>
        Știm cât de importantă este pentru tine
      </ion-text>
    </div>
    <div>
      <ion-text class="s16-h24 roboto-family-font text-weight-400 ls-0">
        Body - Roboto, 16 pt. <br>
        Line height 24 / Letter spacing 0 <br>
        Știm cât de importantă este pentru tine sănă…
      </ion-text>
    </div>
    <div class="my-24">
      <ion-text class="s14pt8-h16 roboto-family-font text-weight-400 ls-0">
        Medium - Roboto, 14.8 <br>
        Line height 16 / Letter spacing - 0.3 <br>
        Știm cât de importantă este pentru tine sănătatea
      </ion-text>
    </div>
    <div>
      <ion-text class="s12pt8-h16 roboto-family-font text-weight-400 ls-0">
        Small - Roboto 12.8 <br>
        Line height 16 / Letter spacing 0 <br>
        Știm cât de importantă este pentru tine sănătatea copil…
      </ion-text>
    </div>
    <div class="my-24">
      <ion-text class="s11-h13 roboto-family-font text-weight-400 ls-03">
        Tiny - Roboto 11 pt. <br>
        Line height 13 / Letter spacing - 0.3 <br>
        Știm cât de importantă este pentru tine sănătatea copilului tău și a
      </ion-text>
    </div>
    <div class="mb-24">
      <ion-text class="s14-h16 roboto-family-font text-weight-medium ls-0 primary-color-step-100">
        Button medium - Roboto 14 <br>
        All caps / Letter spacing 0
      </ion-text>
    </div>
    <div>
      <ion-text class="s18-h24 roboto-family-font text-weight-medium ls-0 primary-color-step-100">
        Button large - Roboto 18 <br>
        All caps / Letter spacing 0
      </ion-text>
    </div>
  </div>



  <div id="container" class="forButtons mt-60 px-32">
    <ion-text class="s40-h40 poppings-family-font ls-0">Buttons</ion-text>

    <!-- small btns -->
    <div class="mt-32">
      <ion-button
        class="mr-8"
        color="biz-primary"
        size="small"
        >
        PRIMARY
    </ion-button>

      <ion-button class="mr-8" color="biz-primary" size="small">
      PRIMARY
      <ion-icon
        slot="end"
        name="plus"
        class="white"
        class="icon-16"
      ></ion-icon>
    </ion-button>

    <ion-button color="biz-primary" size="small">
      <ion-icon
        slot="icon-only"
        name="plus"
        class="white"
        class="icon-24"
      ></ion-icon>
    </ion-button>

    </div>

    <div class="mt-32">

      <ion-button class="mr-8" color="biz-primary" fill="outline" size="small">
      SECONDARY
    </ion-button>

    <ion-button class="" color="biz-primary" fill="outline" size="small">
      SECONDARY
      <ion-icon
        slot="end"
        name="plus"
        color="biz-primary"
        class="icon-16"
      ></ion-icon>

    </ion-button>

    <ion-button
      color="biz-primary"
      size="small"
      fill="outline">

      <ion-icon
        slot="icon-only"
        name="plus"
        class="icon-24"
      ></ion-icon>
    </ion-button>

    </div>

    <div class="mt-32">

      <ion-button class="mr-8" color="biz-disabled-primary" size="small">
      PRIMARY
    </ion-button>

    <ion-button class="" color="biz-disabled-primary" size="small">
      PRIMARY
      <ion-icon
        slot="end"
        name="plus"
        class="icon-16"
      ></ion-icon>
    </ion-button>

    <ion-button
      class="ml-8"
      color="biz-disabled-primary"
      size="small">

      <ion-icon
        slot="icon-only"
        name="plus"
        class="icon-24"
      ></ion-icon>
    </ion-button>


    </div>

    <div class="mt-32">

      <ion-button class="mr-8" color="biz-disabled-secondary" fill="outline" size="small">
      SECONDARY
    </ion-button>

    <ion-button class="" color="biz-disabled-secondary" fill="outline" size="small">
      SECONDARY
      <ion-icon
        slot="end"
        name="plus"
        class="icon-16"
      ></ion-icon>
    </ion-button>

    <ion-button
      class="ml-8"
      color="biz-disabled-secondary"
      size="small"
      fill="outline"
      >

      <ion-icon
        slot="icon-only"
        name="plus"
        class="icon-24"
      ></ion-icon>
    </ion-button>

    </div>

    <!-- default / medium btns -->

    <div class="mt-32">
      <ion-button size="default" class="mr-8" color="biz-primary">
      PRIMARY
    </ion-button>
    <ion-button color="biz-primary" size="default">
      PRIMARY
      <ion-icon
        slot="end"
        name="plus"
        class="biz-primary"
        class="icon-24"
      ></ion-icon>
    </ion-button>
    <ion-button color="biz-primary" size="default">
      <ion-icon
        slot="icon-only"
        name="plus"
        class="icon-24"
      ></ion-icon>
    </ion-button>
    </div>

    <!-- large btns -->
     <div class="mt-32">
      <ion-button size="large" class="mr-8" color="biz-primary">
      PRIMARY
    </ion-button>
    <ion-button class="" color="biz-primary" size="large">
      PRIMARY
      <ion-icon
        slot="end"
        name="plus"
        class="biz-primary"
        class="icon-24"
      ></ion-icon>
    </ion-button>

    <ion-button color="biz-primary" size="large">
      <ion-icon
        slot="icon-only"
        name="plus"
        class="icon-24"
      ></ion-icon>
    </ion-button>

    </div>

    <div class="mt-32">

      <ion-button size="large" class="mr-8" color="biz-primary" fill="outline">
      SECONDARY
    </ion-button>

    <ion-button class="" color="biz-primary" size="large" fill="outline">
      SECONDARY
      <ion-icon
        slot="end"
        name="plus"
        class="biz-primary"
        class="icon-24"
      ></ion-icon>
    </ion-button>

    <ion-button color="biz-primary" size="large" fill="outline">
      <ion-icon
        slot="icon-only"
        name="plus"
        class="icon-24"
      ></ion-icon>
    </ion-button>

    </div>

  </div>
</ion-content>
