<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>style-guide</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Style Guide</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text class="s40-h40 poppings-family-font ls-0">Typography</ion-text>

    <div class="mt-32">
      <ion-button class="mr-8" color="biz-primary" size="small">
      PRIMARY
    </ion-button>
      <ion-button class="mr-8" color="biz-primary" size="small">
      PRIMARY
      <ion-icon
        slot="end"
        name="plus"
        class="white"
      ></ion-icon>
    </ion-button>
    <ion-button color="biz-primary" size="small">
      <ion-icon
        slot="icon-only"
        name="plus"
        class="white"
      ></ion-icon>
    </ion-button>
    </div>

    <div class="mt-32">
      <ion-button class="mr-8" color="biz-primary" fill="outline" size="small">
      SECONDARY
    </ion-button>
    <ion-button class="" color="biz-primary" fill="outline" size="small">
      SECONDARY
      <ion-icon
        slot="end"
        name="plus"
        color="biz-primary"
      ></ion-icon>
    </ion-button>
    </div>

    <div class="mt-32">
      <ion-button class="mr-8" color="biz-disabled" size="small">
      SECONDARY
    </ion-button>
    <ion-button class="" color="biz-disabled" size="small">
      SECONDARY
      <ion-icon
        slot="end"
        name="plus"
        class="biz-neutral-gray-default-color"
      ></ion-icon>
    </ion-button>
    </div>

    <div class="mt-32">
      <ion-button class="mr-8" color="biz-disabled" fill="outline" size="small">
      SECONDARY
    </ion-button>
    <ion-button class="" color="biz-disabled" fill="outline" size="small">
      SECONDARY
      <ion-icon
        slot="end"
        name="plus"
        class="biz-neutral-gray-default-color"
      ></ion-icon>
    </ion-button>
    </div>


    <div class="mt-32">
      <ion-button size="default" class="mr-8" color="biz-primary">
      PRIMARY
    </ion-button>
    <ion-button color="biz-primary" size="default">
      PRIMARY
      <ion-icon
        slot="end"
        name="plus"
        class="biz-primary"
      ></ion-icon>
    </ion-button>
    </div>


     <div class="mt-32">
      <ion-button size="large" class="mr-8" color="biz-primary">
      PRIMARY
    </ion-button>
    <ion-button class="" color="biz-primary" size="large">
      PRIMARY
      <ion-icon
        slot="end"
        name="plus"
        class="biz-primary"
      ></ion-icon>
    </ion-button>
    </div>

    <div class="mt-32">
      <ion-button size="large" class="mr-8" color="biz-primary" fill="outline">
      SECONDARY
    </ion-button>
    <ion-button class="" color="biz-primary" size="large" fill="outline">
      SECONDARY
      <ion-icon
        slot="end"
        name="plus"
        class="biz-primary"
      ></ion-icon>
    </ion-button>
    </div>

  </div>
</ion-content>
