<ion-content [scrollEvents]="true" [fullscreen]="true">
  <div class="modal-div-body">
    <div class="modal-div-header white-bg">
      <ion-header class="header-type-a ion-no-border" [translucent]="true" mode="md">
        <ion-toolbar class="ion-no-padding">

          <ion-buttons slot="start" class="slot-start" (click)="closeModal()">

            <ion-icon name="arrow-left" class="icon-24 black-color" slot="icon-only"></ion-icon>

          </ion-buttons>

          <ion-title>Pacient</ion-title>

          <div slot="end" class="flex flex-row ion-align-items-center">
            <ion-button class="biz-tertiary p-0" size="default-flat" (click)="closeModal(true, 'edit')">
              <ion-icon name="edit" class="icon-24 black-color" slot="icon-only"></ion-icon>
            </ion-button>
            <div class="p-0 ml-24">
              <ion-button class="biz-tertiary p-0" size="default-flat" (click)="closeModal(true, 'delete')">
                <ion-icon name="delete" class="icon-24 black-color" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-toolbar>
      </ion-header>
    </div>

    <div class="mt-64 px-24 pt-30 pt-md-52">

      <div class="flex flex-row ion-align-items-center mb-32">
        <div class="mr-16">
          <ion-icon name="user" class="icon-24 defaultGrayColor" slot="icon-only"></ion-icon>
        </div>
        <ion-label class="s20-h28 text-weight-medium roboto-family-font ls-0">{{data?.firstName}} {{data?.lastName}}</ion-label>
      </div>

      <div class="flex flex-row ion-align-items-start mb-32">
        <div class="mr-16">
          <ion-icon name="default" class="icon-24 defaultGrayColor" slot="icon-only"></ion-icon>
        </div>
        <div>
          <ion-label class="
                        s16-h24
                        roboto-family-font
                        text-weight-regular
                        ls-0
                        defaultGrayColor
                      ">
            Data nașterii:
          </ion-label>
          <br />
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
            {{ birthDay }} {{ birthMonth }} {{ birthYear }} ( {{ birthAge }} {{ birthAge > 1 ? 'ani' : 'an' }} )
          </ion-label>
        </div>
      </div>

      <div class="flex flex-row ion-align-items-start mb-32">
        <div class="mr-16">
          <ion-icon name="info" class="icon-24 defaultGrayColor" slot="icon-only"></ion-icon>
        </div>
        <div>
          <ion-label class="
                              s16-h24
                              roboto-family-font
                              text-weight-regular
                              ls-0
                              defaultGrayColor
                            ">
            Sex:
          </ion-label>
          <br />
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
            {{data?.genderID === 0 ? 'Masculin' : 'Feminin'}}
          </ion-label>
        </div>
      </div>



      <div class="flex flex-row ion-align-items-start mb-32">
        <div class="mr-16">
          <ion-icon name="phone" class="icon-24 defaultGrayColor" slot="icon-only"></ion-icon>
        </div>
        <div>
          <ion-label class="
                                    s16-h24
                                    roboto-family-font
                                    text-weight-regular
                                    ls-0
                                    defaultGrayColor
                                  ">
            Telefon:
          </ion-label>
          <br />
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
            {{data?.phone}}
          </ion-label>
        </div>
      </div>


      <div class="flex flex-row ion-align-items-start mb-32">
        <div class="mr-16">
          <ion-icon name="cnp" class="icon-24 defaultGrayColor" slot="icon-only"></ion-icon>
        </div>
        <div>
          <ion-label class="
                                    s16-h24
                                    roboto-family-font
                                    text-weight-regular
                                    ls-0
                                    defaultGrayColor
                                  ">
            CNP:
          </ion-label>
          <br />
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
            {{data?.pid}}
          </ion-label>
        </div>
      </div>



      <div class="flex flex-row ion-align-items-start mb-32">
        <div class="mr-16">
          <ion-icon name="location-custom" class="icon-24 defaultGrayColor" slot="icon-only"></ion-icon>
        </div>
        <div>
          <ion-label class="
                                          s16-h24
                                          roboto-family-font
                                          text-weight-regular
                                          ls-0
                                          defaultGrayColor
                                        ">
          Adresă:
          </ion-label>
          <br />
          <ion-label class="s16-h24 roboto-family-font text-weight-regular ls-0">
            <ng-container *ngIf="addressLoader; else loading">
              {{userAddress || 'user have no address'}}
            </ng-container>
            <ng-template #loading>
              <ion-spinner name="dots" color="biz-primary" class="icon-20"></ion-spinner>
            </ng-template>
          </ion-label>
        </div>
      </div>




    </div>

  </div>

</ion-content>
