<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header class="pb-16 pl-0">Ioana Anghelescu</ion-list-header>
       <ion-item class="mb-32"> 
          <ion-button class="uppercase"  color="biz-primary" fill="outline" size="small">
          schimbă
        </ion-button>
    </ion-item>
        <ion-text class="pb-11 tip-vizualizare">Tip vizualizare</ion-text>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
            <!-- <ion-icon slot="start" name="Menu"></ion-icon> -->
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item class="md hydrated cursor" (click)="toggleCoparative()" lines="none" detail="false" >
          <!-- <ion-icon slot="start" name="Menu"></ion-icon> -->
          <ion-icon slot="start" name="coparativ"></ion-icon>
          <ion-label>Comparativ</ion-label>
          <ion-icon *ngIf="hideCoparative" class="mr-8" slot="end" name="chevron-up"></ion-icon>
          <ion-icon *ngIf="!hideCoparative" class="mr-8" slot="end" name="chevron-down"></ion-icon>
          
        </ion-item>
               <ion-row  *ngIf="isTablet" >
          <ion-list class="pt-8" *ngIf="hideCoparative">
            <ion-item class="pl-40" *ngFor="let p of comparative; let i = index" routerDirection="root" [routerLink]="[p.url]" [state]="{data: p.title}" lines="none" detail="false" routerLinkActive="selected">
              <!-- <ion-icon slot="start" name="Menu"></ion-icon> -->
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>

            </ion-item>

          </ion-list>
        </ion-row>
        <ion-row  *ngIf="!isTablet" >
          <ion-menu-toggle *ngIf="hideCoparative">
            <ion-item class="pl-40" *ngFor="let p of comparative; let i = index" routerDirection="root" [routerLink]="[p.url]" [state]="{data: p.title}" lines="none" detail="false" routerLinkActive="selected">
              <!-- <ion-icon slot="start" name="Menu"></ion-icon> -->
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>

            </ion-item>

          </ion-menu-toggle>
        </ion-row>

      </ion-list>

      <ion-list class="pt-16 pb-0">
        <ion-menu-toggle auto-hide="false">
          <ion-item  *ngFor="let p of bottomNav; let i = index" routerDirection="root" [routerLink]="[p.url]" [state]="{data: p.title}" lines="none" detail="false" routerLinkActive="selected">
            <!-- <ion-icon slot="start" name="Menu"></ion-icon> -->
            <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
            <ion-icon class="mr-8" *ngIf="p.chevron" slot="end" name="chevron-down"></ion-icon>
            <ion-text class="mr-8 notify" *ngIf="p.notify" slot="end">12</ion-text>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <ion-item lines="none" class="s11-h13 ml-56">
        <ion-label class="s11-h13"
          >Versiune {{ currentVersion }}</ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
