ion-menu ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  ion-list-header {
    color: #198CA9;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
  }
  ion-menu.md ion-content {
    --padding-start: 32px;
    // --padding-end: 8px;
    // --padding-top: 20px;
    --padding-bottom: 20px;
  }
  
  ion-menu.md ion-list {
    padding: 32px 0;
  }

  ion-menu.md ion-list#inbox-list {
    border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
  }
  
  ion-item {
    height: 40px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }

  .tip-vizualizare {
    height: 16px;
    color: #97A1A6;
    font-size: 12.8px;
    letter-spacing: 0;
    line-height: 16px;
  }
  .notify{
    padding: 0px 5px;
    font-size: 12.8px;
    text-align: center;
    color: #fff;
    border-radius: 9px;
    background-color: #1EA5C7;
  }
  .uppercase{
    text-transform: uppercase;
  }

  .cursor{
    cursor: pointer;
  }