
<ion-content>
  <ion-grid class="px-24">
    <ion-row class="init-row pl-16">
      <ion-text class="buna-ziua-ioana">Bună ziua, Ioana.</ion-text>
    </ion-row>
    <ion-row class="init-row pl-16">
      <ion-text class="selecteaza-un-spațiu">Selectează un spațiu de lucru:</ion-text>
    </ion-row>
    <ion-row class="pt-16">
      <ion-col size="12">
        <ion-row (click)="navigate(card)" *ngFor="let card of cards" class="card mb-16">
          <ion-col size="3" offset="9">
            <img [src]="card.img" alt="" />
          </ion-col>
          <ion-col size="12"><ion-text class="mediplus-clinic ">{{card.title}}</ion-text></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
