/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./theme/theme";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "./theme/calendarStyle";

.cabinet-confirmed-v1 {
  border-left: 4px solid #2ea81b;
  background-color: #eaf6e8;
  border-radius: 4px 0 0 4px;
}
.cabinet-confirmed-v2 {
  border-left: 4px solid #1EA5C7;
  background-color: #E3F9FF;
  border-radius: 4px 0 0 4px;
}
.online-confirmed-v1 {
  width: 100%;
  border-left: 4px solid #3093f8 !important;
  background-color: #eaf4fe !important;
  border-radius: 4px 0 0 4px;
  z-index: 100;
}
.online-confirmed-v2 {
  border-left: 4px solid #9B57E0;
  background-color: #F7EDFF;
  border-radius: 4px 0 0 4px;
}

.warning-v1 {
  border-radius: 4px 0 0 4px;
  border-left: 4px solid #f77c00;
  background-color: #feecd9;
}
.warning-v2 {
  border-radius: 4px 0 0 4px;
  border-left: 4px solid #F23D3D;
  background-color: #FEF1E5;
}
.note-v1{
  background-color: #FFE9A1;
}
.note-v2{
  background-color: #E3E9EC;
}
.cancelled-v1{
  background: #97A1A6;
}
.cancelled-v2{
  border: 2px solid #97A1A6;
  border-left: 4px solid #97A1A6;
  border-radius: 4px 0 0 4px;
  background-color: #fff;
}
.cabinet-not-confirmed-v1  {
  border-left: 4px solid #EAF6E8 !important;
  border-radius: 4px 0 0 4px;
  background-color: none !important;
  background: repeating-linear-gradient(
    132deg,
    transparent,
    transparent 10px,
    #EAF6E8 10px,
    #EAF6E8 calc(2 * 10px)
  ) !important;
}
.cabinet-not-confirmed-v2  {
  border-left: 4px solid #C7F3FF !important;
  border-radius: 4px 0 0 4px;
  background-color: none !important;
  background: repeating-linear-gradient(
    132deg,
    transparent,
    transparent 10px,
    #E3F9FF 10px,
    #E3F9FF calc(2 * 10px)
  ) !important;
}
.online-not-confirmed-v2  {
  border-left: 4px solid #EDDBFF !important;
  border-radius: 4px 0 0 4px;
  background-color: none !important;
  background: repeating-linear-gradient(
    132deg,
    transparent,
    transparent 10px,
    #F7EDFF 10px,
    #F7EDFF calc(2 * 10px)
  ) !important;
}
//.green-pattern   *, .green-pattern .cal-week-view .cal-event
.online-not-confirmed-v1 {
  border-left: 4px solid #D6E9FE;
  border-radius: 4px 0 0 4px;
  background: repeating-linear-gradient(
    132deg,
    transparent,
    transparent 10px,
    #D6E9FE 10px,
    #D6E9FE calc(2 * 10px)
  );
}
.online-not-confirmed-v2 {
  border-left: 4px solid #C7F3FF;
  border-radius: 4px 0 0 4px;
  background: repeating-linear-gradient(
    132deg,
    transparent,
    transparent 10px,
    #E3F9FF 10px,
    #E3F9FF calc(2 * 10px)
  );
}
.border-none{
    border: none !important;
}
.vacation-bg{
  background-color: #FFE9A1 !important;
}
.cal-month-view .cal-day-cell.cal-today {
  background-color: none !important
}
.caps{
  text-transform: capitalize !important;
  font-weight: normal !important;
  color: #97A1A6;
  font-size: 12.8px;
  letter-spacing: 0;
  line-height: 16px;
}
.day-nr, .cal-today {
  background-color: none !important;
  color: #97A1A6;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: -1.5px;
}
.day-nr{
  font-size: 20px;
}
.cal-today{
  color: #1EA5C7;
  // padding-top: 10px;
}
.cal-week-view .cal-header.cal-today {
  background-color: #fff;
}
.cal-today:last-child{
  color: #1EA5C7;
  font-weight: 500;
}
.cal-day-headers .cal-header {
  border: none !important
}
.cal-week-view .cal-day-headers span {
  font-weight: normal;
  opacity: 1;
}
.cal-events-row{
  display: none !important;
}
.cal-day-headers{
  height: 60px;
}
.bold{
  font-weight: 500 !important;
  display: block;
  padding-top: 7px;
}
.ion-page{
  display: block;
}
.table-bordered > *{
  border: none !important;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: none !important;
  text-transform: capitalize;
  color: #000000;
  font-family: Roboto;
  font-size: 12.8px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}
.monthview-selected {
  border-radius: 8px;
  background-color: #1EA5C7 !important;
  color: white;
}
.table-bordered > thead > tr > th{
  text-transform: capitalize;
  color: #97A1A6;
  font-family: Roboto;
  font-size: 12.8px;
  letter-spacing: 0;
  line-height: 16px;
  text-align: center;
}
.toast-bg{
  --background: red !important;
  --border-radius: none ;
}

.weekEvent-title{
  color: #000;
}
