ion-toolbar{
  --background: #ABE8F7;
  background: #ABE8F7;
  ion-title {
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
}
ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
   
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
