
<app-calendar-header></app-calendar-header>
<ion-content  [scrollEvents]="true" [fullscreen]="true">
  
  <app-calendar [calendarList]="calendarList" [display]="page"></app-calendar>
  <!-- <app-calendar-month [calendarList]="calendarList" [display]="page"></app-calendar-month> -->
  <div class="fab-container">
    <div (click)="showButtons()" class="fab fab-icon-holder white px-32 py-16 s18-h24 upper text-weight-medium md hydrated">
      Adaugă
    </div>
    <ul [ngClass]="showFab ? 'showFab': 'hideFab'" class="fab-options">
      <li>
        <ion-button (click)="navigate('/adauga-programare')" color="biz-primary" size="large" >
           <ion-text class="white pr-12 upper">Programare </ion-text>
          <ion-icon class="icon-24" name="programare" color=""></ion-icon>
        </ion-button>
      </li>
      <li>
      
        <ion-button fill="outline" size="large" color="biz-primary" class="bg-white" (click)="navigate('/adauga-nota')">
          <ion-text class="ion-color-biz-primary pr-12 upper">Notă </ion-text>
          <ion-icon class="icon-24" name="note" color="ion-color-biz-primary"></ion-icon>
        </ion-button>
      </li>
      <li>       
        <ion-button fill="outline" size="large" color="biz-primary" class="bg-white" (click)="close()" >
          <ion-icon class="icon-24" name="close-biz" color="ion-color-biz-primary"></ion-icon>
        </ion-button>
      </li>
     
    </ul>
  </div>
</ion-content>

