
<app-calendar-header></app-calendar-header>
<ion-content [scrollEvents]="true" [fullscreen]="true">
  
  <app-calendar [calendarList]="calendarList" [display]="page"></app-calendar>
  <!-- <app-calendar-month [calendarList]="calendarList" [display]="page"></app-calendar-month> -->
  <!-- <ion-fab horizontal="end" vertical="center" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-button size="large" color="biz-primary">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
</ion-content>

